[2015-11-25 11:26] paulohp commented on #2041
@vladikoff is one of release managers. can you help here @vladikoff ? Thanks

[2015-11-25 12:22] pertrai1 commented on #2036
@paulohp my environment that I was testing on is Linux Mint 17.3

[2015-11-25 14:10] sheerun commented on #2035
I really don't know how bower update works now. But I'm pretty sure it doesn't do what it should. It would be nice if someone experimented with it and documented results in Wiki.

[2015-11-25 15:17] AnthonyBobsin opened #2043 "Create a Bower Style Guide"
With a lot of new volunteers coming on the team, it would be beneficial to have a style guide page that new contributors can reference for specific style conventions used.

[2015-11-25 15:18] vladikoff commented on #2041
Ah I see there was an issue with patching old npm releases, working on it ...

[2015-11-25 15:48] vladikoff commented on #2041
Fixed in 1.6.6

There are several issues with npm here, see https://github.com/npm/npm/issues/6778
The tag APIs is 500ing in several ways as well, so I just published 1.6.6 :

[code]

[2015-11-25 15:48] #2041 closed

[2015-11-25 16:01] maxfurman commented on #572
Is this issue still valid? If so, I can take it; if not, it should probably be closed.

[2015-11-25 17:19] nickautomatic opened #2044 "Can't update to 1.6.6 on Windows"
After running `npm install -g bower` to update to 1.6.6, the install process ends with:

    npm ERR! code 1

Bower is then broken: if I run, eg. `bower -v` I get:

[code]

I then ran `npm install -g bower@1.6.5` to get the old version back, which got everything working again.

[2015-11-25 17:39] accommodavid commented on #2043
Doesn't Travis already check that using JSHint?

[2015-11-25 17:41] pertrai1 commented on #2044
@nickautomatic What version of Windows are you running?

[2015-11-25 17:43] pertrai1 commented on #2043
@AnthonyBobsin I do agree with you on this. Any information that can help get someone up and running is useful. Travis does enforce this, and letting contributors know what it is that is being enforced would be of help.

+1 from me

[2015-11-25 17:46] pertrai1 commented on #2035
@sheerun I am going to assign this to myself to experiment and document.

[2015-11-25 17:48] nickautomatic commented on #2044
@pertrai1 Windows 8.1 Pro. I'm running bower from bash (the version that comes with [Git for Windows](https://git-for-windows.github.io/))

[2015-11-25 17:49] accommodavid commented on #2043
So basically a more human readable version of .jshintrc on the wiki here? I could write up a quick draft for that.

[2015-11-25 17:50] nickautomatic commented on #2044
One possibility that occurred to me: my username has a space in it - I know that's something that has caused problems with npm in the past (I think it's something that is allowed in Windows but not in Unix-like operating systems... I might be wrong there though!)

[2015-11-25 17:57] pertrai1 commented on #2044
@nickautomatic that could be the issue. I tried to reproduce on my Windows machine and all installed properly. I did notice that js-yaml is one of the last packages to be installed for Bower, so I was thinking that it might have just been an issue with getting js-yaml. Not sure if this would be the case or not. Maybe try to run again and see if you get the same result?

[2015-11-25 17:58] AnthonyBobsin commented on #2043
Exactly, I'm thinking something similar to the [npm coding style document](https://github.com/npm/npm/blob/master/doc/misc/npm-coding-style.md).

[2015-11-25 18:02] AnthonyBobsin commented on #2043
Might post this as a different issue after some digging into, but I also noticed that not all jshint preferences are being enforced. For example for `indent: 4`, the file `test/commands/install.js` has indentation set to 2, but no errors are mentioned.

[2015-11-25 18:25] accommodavid commented on #2023
I'm on Mac OS X 10.11.2 and also unable to reproduce:

[code]

[2015-11-25 18:45] sheerun commented on #2041
@vladikoff Did you release current master as 1.6.6? It was WIP and there were failing builds..

[2015-11-25 18:49] sheerun commented on #2041
Ach. I see what you did. Allright :+1:

[2015-11-25 19:10] prometheansacrifice commented on #2035
Documenting my observations here. I installed `underscore` using `bower install underscore#1.8.2 --save` and did the following.

* Ran `bower update`. Installs the same version again. No changes with `--save` option.
* Ran `bower install`. Command simply terminates. No re-download or installation from cache

I then manually update the `underscore` version to `1.8.3` in `package,json`.
* Ran `bower

[2015-11-25 19:20] nickautomatic commented on #2044
@pertrai1 Ok, I tried again, but get the exact same problem I'm afraid...

[2015-11-25 22:48] sheerun commented on #2041
@vladikoff Actually bower was released in wrong way. You did not follow all the steps from https://github.com/bower/bower/wiki/Releasing-bower (specifically `rm -rf node_modules && npm install --production`)

Because of it Bower has been released without bundledDependencies bundled. Please remember about it next time.

[2015-11-25 22:54] vladikoff commented on #2041
@sheerun oh didn't know that page existed, sorry! bookmarked it now.

[2015-11-25 22:55] vladikoff commented on #2041
@sheerun let me know if we should update those

[2015-11-25 23:53] xzyfer opened #2047 "TypeError: LRU: key must be a string or number. Almost certainly a bug!"
This error has returned as of 1.6.6 when running `bower install --allow-root --quiet`.

[code]

[code]

[2015-11-26 01:23] faceleg opened #2048 "(suggestion) add issue / pr stats to README"
Similar to: https://github.com/angular/universal

From: http://issuestats.com/github/bower/bower

[2015-11-26 01:26] faceleg opened #2049 "(suggestion) Add gitter.im link to README"
Similar to: https://github.com/angular/universal

[2015-11-26 02:05] paulohp opened #2050 "AppVeyor/ Windows failing tests."
I've been working on those tests errors on Windows for awhile now and I want to ask help from someone.
The issue seems to be on the clean up of tmpDir. On OS X and Linux system it works fine, but on Windows seems to be leaved a old tmp file.

Error message:
[code]

I know that @sheerun was fighting against it and pointed a possible fix here: https://github.com/npm/fs-write-stream-atomic/pull/7 and

[2015-11-26 02:24] kunyan commented on #2049
we moving to https://discordapp.com/, no longer needed

[2015-11-26 02:28] paulohp commented on #2049
@kunyan we still have a public bower chat there. gitter.im/bower/bower

[2015-11-26 02:43] faceleg commented on #2049
Discord is blocked by my corporate proxy

[2015-11-26 03:12] DonAurelio commented on #1849
donnanicolas, I had the same problem (ENOENT No bower.json present) it occur when I used "bower install bower.js" to create the bower_compenents folder. To solve that problem I removed the folder from static/bower_components (in a Django application ) and tried to install it again but used only the command "bower install" in the same folder of bower.json file.

After that it works.

[2015-11-26 05:35] #2049 closed

[2015-11-26 05:35] #2048 closed

[2015-11-26 05:58] tokyoincode commented on #2044
Happens on El Capitan (OS X) as well. However, 1.6.6 installs fine on Yosemite.

[2015-11-26 06:35] tokyoincode commented on #2044
Try uninstalling Bower and then reinstalling it. Might work for you as well.
(Credit goes to my boss)

[2015-11-26 07:09] riyadhalnur commented on #2044
Confirmed not working in El Capitan across multiple Node versions

[2015-11-26 08:08] NullDivision opened #2053 "Bower upgrade issue"
When upgrading to the latest version of bower I get ENOENT erros for `rename` and `chmod`. These should probably be included as peerDependencies i guess?

[2015-11-26 08:40] kunyan commented on #2047
[code]
@xzyfer I can't reproduce it, can you post your bower.json ?

[2015-11-26 09:52] Nopzen commented on #2047
Same error is pressent on node version 0.12.5.

[2015-11-26 11:26] sheerun commented on #2041
I'll re-release it :)

[2015-11-26 11:26] douglasdeodato opened #2054 "error after run: npm install -g bower"
I getting this error after run: npm install -g bower and bower init, actuallly i can't create the bower.json file, but i can install the packages, but why i don't have bower.json file?

$ node -v
v4.1.0

$ grunt --version
grunt-cli v0.1.13
grunt v0.4.5

$ bower -v
1.6.6

$ npm install -g bower
npm WARN installMany abbrev was bundled with bower@1.6.6, but bundled package wasn't found in unpacked tr

[2015-11-26 12:06] daltones commented on #2047
I'm having the same issue with bower 1.6.6 and node 4.2.2.

In my case seems like the problem occurs if you set a branch name in some dependency version. Like this:

[code]
or
[code]
or similar.

I also notice that the error occurs just for the first dependency matching this pattern while resolving.

Commit hashes works fine here.

[2015-11-26 12:21] Tenzer commented on #2047
I had the same problem with both Bower 1.6.6 and 1.6.7 on Node 4.2.2 and 5.1.0. Removing the `~/.cache/bower` folder solved the problem for me, for some reason.

[2015-11-26 12:30] Nopzen commented on #2047
I can confirm the fix @Tenzer suggests, on v4.0 but wont fix on v0.12.5.

[2015-11-26 12:45] frederikbosch commented on #2047
I cannot confirm the fix by @Tenzer, I am not bower 1.6.6 and node v4.2.2.

[2015-11-26 12:52] sheerun commented on #2053
I've released new version. It should be ok now. Could you confirm?

[2015-11-26 12:53] sheerun commented on #2054
I've released new version with fix. Could you check?

[2015-11-26 12:54] #2054 closed

[2015-11-26 12:54] #2053 closed

[2015-11-26 13:14] sheerun commented on #1784
@watilde @btilford @howardroark I'm reverting this because it should be implemented in bower/config repository in "normalize" function.. https://github.com/bower/config/blob/master/lib/Config.js#L84

[2015-11-26 13:33] sheerun commented on #1982
@pertrai1 Please ask for feedback before marking issues as "requires feedback"

[2015-11-26 13:34] prappo commented on #1981
Bower can be executed from shell script and there's --json flag for computer interaction. Also there's programmatic API

[2015-11-26 13:34] #1981 closed

[2015-11-26 13:37] waynejuckts commented on #933
I could install all packages in my Node project without -g parameter. And that causes the issue for me. Same issue you are all describing. So i reinstallt bower with -g and all is working fine for me

[2015-11-26 13:56] pertrai1 commented on #2035
Thank you @prometheansacrifice for the detailed reproduction steps. I am looking into the `update` command and the config options today and tomorrow. Right now it is not setup to update unless there is a change in the .json file that it reads for any changes to the dependencies.

[2015-11-26 13:58] pertrai1 commented on #2043
@AnthonyBobsin - so are you taking the lead on this :-)

[2015-11-26 14:35] pertrai1 commented on #2008
@sheerun since we now have the tags, can we close this discussion?

[2015-11-26 14:39] rscnt commented on #2044
@riyadhalnur, @nickautomatic which version of npm are you using?

[2015-11-26 14:48] ceoaliongroo commented on #2008
+1

[2015-11-26 14:55] sheerun commented on #2008
This issue wasn't only about tags

[2015-11-26 14:59] pertrai1 commented on #2035
@sheerun I started working on the `update` command by adding a simple abbreviation `bower u` command. Will continue to look at the command and the options. #2055

[2015-11-26 15:18] AnthonyBobsin commented on #2043
@pertrai1 sounds good to me :) Will work on implementing node-jscs as well in order to enforce the style guide

[2015-11-26 15:45] riyadhalnur commented on #2044
i'm on 3.5.0

[2015-11-26 15:49] riyadhalnur commented on #2044
@nickautomatic 1.6.7 was just pushed out a while ago. Can you please check if that fixes things for you? The latest version is good on OSX

[2015-11-26 15:54] nickautomatic commented on #2044
@rscnt, @riyadhalnur: Ah, sorry, I won't be able to check until Monday now, but I will try it then and let you know. Re: npm version - again, can't check the exact version, but I know I've updated npm fairly recently so it would be 3 point something.

For what it's worth, I've just tried installing 1.6.7 on the machine I'm currently using (also Windows 8.1) without running into this issue so possi

[2015-11-26 16:11] kunyan commented on #2050
I think all 4 issue cause by tmp dir/file not be removed.

[code]

[2015-11-26 16:37] sathishvj commented on #2023
I just deleted my entire bower_components and node_modules and ran it again.  Still the same - those different permission.
If it's just me, I think we can close it until somebody else reopens it.  I have a workaround anyways.

[2015-11-26 16:44] pertrai1 commented on #2008
@sheerun yes that is true but it became all about tags so it should be closed and another discussion topic can be created about new contributors. just my opinion

[2015-11-26 17:03] sheerun commented on #2008
ok, I'll re-open the same

[2015-11-26 17:03] #2008 closed

[2015-11-26 17:03] sheerun opened #2056 "Plan recruitment path for Bower Contributors"
We need to discuss the possible roles in Bower organization and clear path for recruiting members of this organization. For now it's more or less as follows:
1. I've created contribution form on http://goo.gl/forms/P1ndzCNoiG
2. The results are gathered in Google Spreadsheet.
3. I invite people from there to "Bower Volunteers" role, that has read access for all of bower repositories and write acce

[2015-11-26 17:05] sheerun commented on #2023
@sathishvj Thank you for reporting it. We'll reopen as soon as there's someone else with the same issue. For now maybe try `bower cache clean`, `rm -rf bower_components` and reinstall packages.

[2015-11-26 17:05] #2023 closed

[2015-11-26 17:14] kunyan commented on #2047
#2040 would fix this issue

[2015-11-26 17:16] yoannmoinet commented on #2056
We could link them to issues tagged for new-comers, like `level:beginner` and such?
And also to the [contributing guide](https://github.com/bower/bower/blob/master/CONTRIBUTING.md).

Maybe make a TL;DR version?

[2015-11-26 17:28] sheerun commented on #2047
I've merged the fix and I'm going to release soon.

[2015-11-26 17:28] #2047 closed

[2015-11-26 18:39] kand commented on #780
:+1: my bower is freezing on a step the output is exactly the same as without ```--verbose```, not very helpful.

[2015-11-26 20:20] jfbibeau commented on #2019
@sheerun @liorhson any updates?

[2015-11-26 20:43] zzarcon commented on #1594
@sheerun @albertinadx I gonna take a look into this as well

[2015-11-26 20:45] albertinadx commented on #1594
Hi @zzarcon I had a fix for this, following how npm implements hooks. Would you like to review it as soon as I create the pull request?

[2015-11-26 20:47] zzarcon commented on #1594
@albertinadx that's great, for sure! just let me know :)

[2015-11-26 20:49] zzarcon commented on #1594
@albertinadx it's because of the script contains `&&`?

[2015-11-26 21:34] albertinadx commented on #1594
It is because we are not allowing shell operators (for example &&) in the way we are executing the hooks scripts. I will finish this today. Thanks!

[2015-11-26 21:47] vabc commented on #852
Hello, after a few  hours searching a solution for the same problem I found this blog.
I am just trying to execute the simple bower.json file:

{
  "name": "angular-phonecat",
  "description": "A starter project for AngularJS",
  "version": "0.0.0",
  "homepage": "https://github.com/angular/angular-phonecat",
  "license": "MIT",
  "private": true,
  "dependencies": {
    "angular": "1.4.x",
    "a

[2015-11-26 21:51] zzarcon commented on #1014
Which is the status of this?

[2015-11-26 22:34] ruyadorno commented on #1014
`abandoned` :disappointed:

[2015-11-26 22:42] zzarcon commented on #1014
@ruyadorno I'd like to work into this with someone.
@sheerun which is the priority of this?

[2015-11-26 23:32] fooontic commented on #802
Does not work with cygwin. Tried `bower init` firstly, then `bower init --config.interactive`.

[code]

[2015-11-27 01:33] paulohp commented on #2050
Closing since @sheerun fixed it here:

https://github.com/bower/bower/commit/bb7c02b07ba413fe32ac699d16710f735af56020

[2015-11-27 01:33] #2050 closed

[2015-11-27 01:41] ruyadorno commented on #1014
@zzarcon please go ahead :smile:

take a look at #1145 and the discussion that ensued there, you'll see that the proper way to implement this feature is to add a `validate()` method on [bower-json](https://github.com/bower/json) first and once that's available, just create a command on `bower` that consumes it to parse/output validation info to the user.

wish you the best of luck with that :+1: g

[2015-11-27 03:37] aishraj commented on #2056
Tagging issues by levels is a great idea as new comers as it would help newcomers looking to get started.

[2015-11-27 06:01] prometheansacrifice commented on #2043
@AnthonyBobsin  @pertrai1 We would use [editorconfig](http://editorconfig.org/) to ensure contributors stick to the style guide. I myself have [set it up](https://github.com/mozilla/pdf.js/pull/6627) for Mozilla's [PDFJS](https://github.com/mozilla/pdf.js)

[2015-11-27 09:53] sheerun commented on #1594
@albertinad Please send a test if possible :)

[2015-11-27 10:06] sheerun commented on #1014
@zzarcon bower-json uses excptions in `validate` method. First we need to make `validateWarnings` method that returns all the warnings, so we can return them in `bower validate` command. You can certainly work on it :)

[2015-11-27 10:06] sheerun commented on #1014
Here's link to validate method: https://github.com/bower/json/blob/master/lib/json.js#L87

[2015-11-27 10:29] watilde commented on #1784
Ahh ok, that seems better to me too! I'll try it again :)

[2015-11-27 11:48] zzarcon commented on #1594
@albertinadx good point, good job!

[2015-11-27 12:05] sheerun commented on #1784
Just please make sure it works and doesn't break backward compatibility before sending a PR :)

[2015-11-27 14:13] AnthonyBobsin commented on #2043
@prometheansacrifice - there is actually already an `.editorconfig` file in the repo. Thanks for pointing that out though, did not notice that before. Will definitely make sure it's up to date with the style guide.

I've implemented [JSCS](http://jscs.info/) which is similar to jshint but strictly related to coding styles. It's great because you can set it so that it automatically corrects code th

[2015-11-27 14:51] sheerun commented on #2043
@AnthonyBobsin You can create a Wiki page for style guide :) A PR with jscs and style fixes is welcome too.

[2015-11-27 14:56] AnthonyBobsin commented on #2043
@sheerun - wow, thanks for reminding me, I totally forgot about the Wiki page! Will move the style guide onto a separate Wiki page, then submit the JSCS implementation as a separate PR :+1:

[2015-11-27 15:14] arvindch commented on #2031
+1 - I would like to see this, as well, since the misbehaving git hosts are rare, in comparison.

Having `bower` do a full clone for everyone, everytime, by default, seems wasteful.

Thoughts?

[2015-11-27 15:29] sheerun commented on #2031
We can't break backward compatibility for bower 1.x. This is a breaking change.

We can introduce `--beta` flag or something, though.

[2015-11-27 15:34] prometheansacrifice commented on #2043
@AnthonyBobsin I see you've mentioned 4 space indentation. I think 2 would be more suitable against the callback nesting. More opinions on this?

[2015-11-27 15:35] sheerun commented on #2036
@pertrai1 Is it still a thing? What happens when you do fresh clone, npm install, and npm test?

[2015-11-27 15:38] AnthonyBobsin commented on #2043
@prometheansacrifice - I actually highly prefer 2 as well in most cases. I based a lot of these rules on how the current state of the repo was. As long as everyone is on board though, I would be glad to switch over to 2 space indentation and JSCS will correct the whole repo for us.

[2015-11-27 15:55] sheerun commented on #572
The solution seems to be `bower install || bower install --offline`

[2015-11-27 15:55] #572 closed

[2015-11-27 16:01] sheerun commented on #1849
So to recap one last time: `bower install bower.json` is NOT a correct comment. It installs package named "bower.json".

**What you want to use is just `bower install`.**

[2015-11-27 16:01] #1849 closed

[2015-11-27 16:10] sheerun commented on #2043
I think the current standard for this repo is 4 unfortunately. I like 2 spaces more as well, but we don't want to change every line right now to prevent merge conflicts. So 4 spaces please :)

[2015-11-27 16:15] sheerun commented on #256
@prappo Why did you close it?

[2015-11-27 16:19] sheerun commented on #933
This thread got really messy. If someone still experiences any issues, please open another issues with steps to reproduce. Thank you!

[2015-11-27 16:23] sheerun commented on #2044
I'm pretty sure 1.6.8 should work for you as I tested it manually while ago. Please re-open if it's still an issue.

[2015-11-27 16:23] #2044 closed

[2015-11-27 16:27] sheerun commented on #2019
@jfbibeau Personally I think the way jFrog interacts with bower doesn't justify adding this command..

This is a use case for very small group of people, and with this flag we're encouraging bad practice of not bumping git tags for broad community of bower users. Can't you handle this case by some custom script or something?

[2015-11-27 16:30] sheerun commented on #852
Please look at @grafikkaos comment for solution of this problem
https://github.com/bower/bower/issues/852#issuecomment-145169743

[2015-11-27 16:33] KeesWoestenenk opened #2059 "Access denied when installing package"
Bower will be used with Sage for building a Wordpress theme. I installed bower and then in the project theme directory I issued the command bower install. Here I got the folllowing error:
Error: EACCES: permission denied, open '/Users/keeswoestenenk/.config/configstore/bower-github.yml'

You don't have access to this file.

I can't find out how to solve this. I tried logging in as root, but then I

[2015-11-27 16:39] sheerun commented on #2059
There are lot of duplicates for this kind of issue: https://github.com/bower/bower/search?q=EACCES%3A+permission+denied&type=Issues&utf8=%E2%9C%93

[2015-11-27 16:39] #2059 closed

[2015-11-27 18:15] Utsav2 commented on #1967
I tried this on 1.6.5 on Arch Linux and it seems to work fine. Which OS are you using? Can you give any other details?

[2015-11-27 18:33] prometheansacrifice commented on #2043
There's no maximum allowed line length in the current codebase :(
Could 2 spaces indentation and `max_line_length` be enforced for newer files. With time, existing files could adopt them too.

[2015-11-27 18:37] cthrax commented on #1967
I was running OSX yosemite, the dependency was in the bower directory, not a manual github url, I was using node version 4.2.1 and I'm not sure what else would be pertinent or useful information. Let me know and I'd be happy to get it.

[2015-11-27 18:55] sheerun commented on #2043
We can convert everything at once in the future. For now consistent 4 spaces is great.

[2015-11-27 19:00] darkmorpher opened #2061 "Bower 1.6.8 update error"
updating from 1.6.7 gave me this error:
`npm WARN addRemoteGit Error: not found: git`
`npm WARN install Couldn't install optional dependency: not found: git`

[2015-11-27 19:04] AnthonyBobsin commented on #2043
I'll add a `max_line_length` rule as well, couldn't decide yesterday what to set it at. (npm-coding-style)[https://docs.npmjs.com/misc/coding-style] uses 80 characters, but they also use 2 space indentation, so it might be good for us to set it a bit higher. How does 95 sound?

[2015-11-27 19:13] sheerun commented on #2061
What is your platform?

[2015-11-27 19:15] sheerun commented on #2021
Actually it was fixed in https://github.com/bower/bower/commit/931b0a89057cf43bdd95ff25d134fd9fb26eb0a1 and released in bower 1.6.8

[2015-11-27 19:15] #2021 closed

[2015-11-27 19:17] sheerun commented on #2043
95 sounds good

[2015-11-27 19:17] darkmorpher commented on #2061
Win7 x86

[2015-11-27 19:19] sheerun commented on #2061
I can't reproduce on Windows 10 x64. @bower/contributors Do you have access to Win7 to reproduce?

[2015-11-27 19:23] sheerun commented on #2035
@feniixx Does `npm update` update package.json?

[2015-11-27 19:28] feniixx commented on #2035
Yes, it does @sheerun if there's an `~` before the version of the dependecy, but I'm not sure if `--save` is needed

[2015-11-27 19:31] #1777 closed

[2015-11-27 19:57] darkmorpher commented on #2061
:octocat: Git broken, reinstalling fixed problem.

[2015-11-27 19:57] #2061 closed

[2015-11-27 20:54] contolini commented on #2035
@sheerun @feniixx `npm update` doesn't write anything to package.json unless the [``--save`` flag is passed](https://docs.npmjs.com/cli/update#recording-updates-with-save):

As folks have mentioned here, `bower update` *never* writes to package.json, even if you pass `--save`. This functionality is unexpected and IMO it should mimic npm by updating bower.json if `--save` is specified.

[2015-11-27 21:54] iwozzy commented on #802
Trying `bower init` in Cygwin and getting
[code]
I've also tried `bower init --config.interactive` and getting
[code]
This is on Windows 10 while running Cygwin as Administrator.

[2015-11-27 22:46] destroyerofbuilds commented on #2031
@sheerun that's why I mentioned a `major` release. I believe this change must wait until the next major release to ensure we don't break any existing workflows.

However, I do believe the behavior should be flipped as part of the next major release. I also believe that users of misbehaving hosts should be expected to disable the shallow clone feature as needed.

Personally, adding `--beta` is only

[2015-11-27 23:35] indolering commented on #1914
Ugh, [the code][1] just concatenates the `directory` path with the **process'** `cwd`, which fucks with the directory setting of any `.bowerrc` file residing in a parent directory:

[code]

The amount of due-diligence required to prevent data loss isn't worth the effort and I actually think the current behavior is a bit more newb friendly.  Why don't we instead use a new syntax for opting into the

[2015-11-27 23:52] gronke commented on #1914
@indolering I like the idea to switch to the new behavior with the transition to [allow the directory to be specified from bower.json](https://github.com/bower/bower/issues/1986) Path resolution could be part of https://github.com/bower/json, so that this repo would only have to be touched for removing the join with `process.cwd()`.

In case we want to adapt the changes in Bower directly, the test

[2015-11-28 00:05] indolering commented on #1914
@gronke That would be cleaner and I would actually drop the "unsafe" option.  It's basically there to justify the new syntax.

But does `bower.json` respect any `bower.json`'s found in parent directories?

[2015-11-28 00:14] gronke commented on #1914
The `unsafe` option is actually a simple way to prevent directory traversal attacks #1890 and could be foreseen today and easily shipped in a second PR.

@indolering could you live with passing the absolute directory path via `--directory` flag? For Polymer Element development that would perfectly work for me at least.

[2015-11-28 01:39] pertrai1 commented on #2036
@sheerun - did a fresh clone, install and test and did work. :+1:

[2015-11-28 01:39] #2036 closed

[2015-11-28 04:25] contolini commented on #2035
@prometheansacrifice Thanks for documenting this. In your scenario, `update` is working as expected.

Similar to npm, bower's `update` respects semver. So if you have underscore pegged at 1.8.2 in bower.json, it won't be updated. However, if you save it as ~1.8.2 (`bower install underscore#~1.8.2 --save`) and then run `bower update`, it will update it to the latest version between 1.8.2 and 1.9.0

[2015-11-28 10:11] sheerun commented on #1914
- We can't change format of `directory` for backward compatibility.
- We can't change the behavior of `directory` for the same reason
- `bower.json` is not merged in any way with parent `bower.json`

[2015-11-28 10:12] sheerun commented on #1914
I can only accept PR that allows for absolute path in `directory` field because this behavior is currently undefined.

[2015-11-28 10:24] gronke commented on #1914
gotcha @sheerun !  To not expand this discussion to, I'll create a PR for this, so that we have some code to discuss upon. Would you like to assign this one to me?

[2015-11-28 12:14] #1650 closed

[2015-11-28 18:34] contolini commented on #256
@albertinadx Are you working on this issue? If you're not, let me know, and I'll hack on it later today.

[2015-11-28 18:57] contolini commented on #1468
To clarify some points in this issue:

If you want to update all bower deps to their *latest possible version* and save those changes to bower.json, use [npm-check-updates](https://www.npmjs.com/package/npm-check-updates) (`ncu -um bower`). npm-check-updates is designed to "upgrade your dependencies to the latest versions, regardless of existing version constraints".

`bower update`, on the other

[2015-11-28 18:59] contolini commented on #2035
#2062 introduces the `--save` flag to `bower update`.

[2015-11-28 18:59] #2035 closed

[2015-11-28 20:54] sheerun commented on #1468
I think the issue may be it doesn't preseve `^` when saving?

[2015-11-28 21:01] sheerun commented on #1468
@contolini Could you add another test to ensure it happens?

[2015-11-28 23:30] AnthonyBobsin commented on #2043
@sheerun - when attempting to set a max line length, there are over 400 errors that can't be automatically fixed. Looking through these, most of them are from `it` strings in specs. Have been trying to implement a way for jscs to ignore these lines but it's more complicated then I thought. Going to submit a PR without the max line length for now then will work on either contributing to jscs to mak

[2015-11-29 03:42] Tibicenas opened #2064 "npm WARN in bower@1.6.8. replacing bundled version"
i got these warning when install bower globally on my new laptop, have to do something ? :S

[code]

[2015-11-29 11:01] sheerun commented on #2043
Can't we just put `// jscs:disable` at the beginning of each test file?

[2015-11-29 11:32] sheerun commented on #2064
Isn't it npm's issue? npm/npm#10489

[2015-11-29 11:32] #2064 closed

[2015-11-29 17:08] AnthonyBobsin commented on #2043
We definitely can. We can even disable just the maxLineLength rule, but I think there might be a more elegant solution.

There are a couple questions at hand here. Should test description strings be that long to begin with? If they should, should we be separating the string onto two lines instead of one long line? Or is it ok as they are, and we should just disable maxLineLength for all test files

[2015-11-29 17:14] tejgop commented on #1959
@fabdeceglia, did you keep your `bower.json` file in your git repo? Then, the repository is **no longer clean!** Try this:
[code]

[2015-11-29 18:11] feniixx commented on #798
I had same problem but I desactivated the antivirus **Bitdefender** and I could install the dependency.

[2015-11-29 19:29] sheerun commented on #2043
I think they are mostly ok.. descriptive as they need to be.

[2015-11-29 19:37] contolini commented on #1468
@sheerun True, it doesn't preserve your range specifier. But [neither does `install`](https://github.com/bower/bower/blob/aafe02f3e9682e958d912f74f501f90470e2f984/lib/core/Manager.js#L594). Given:

[code]

Running `npm install bootstrap --save` (the "bower" way to update a dep to the latest possible version) results in:

[code]

I would expect the two commands (install and update) to act the same

[2015-11-29 20:33] sheerun commented on #1468
`install` can override dependency, `update `just updates it :) I'd open such issue

[2015-11-29 20:56] contolini opened #2065 "Preserve range specifier when using `update --save`?"
The update and install commands don't preserve range specifiers.

Given a bower.json that includes:

[code]

Updating it using `bower update --save semantic` results in:

[code]

Or re-installing it using `bower install --save semantic` results in:

[code]

Notice there are now tildes in bower.json instead of carets. This is because bower defaults to tildes.

This seems to be the correct behavior

[2015-11-29 20:57] contolini commented on #1468
@sheerun Makes sense. I posed the question over at #2065 to get some feedback before implementing anything.

[2015-11-29 21:21] AnthonyBobsin commented on #2043
I tried implementing a different jscs config file for all test files so that we don't have to go through and disable the rule manually. This still led to there being over 100 code style errors of lines going over 95 characters. I'm going to leave this how it is for now, and maybe come back to it another time

[2015-11-30 01:44] heinst opened #2066 "Entering `bower search` lists all packages which takes a while"
Entering `bower search` with no entry causes bower to list all packages, this process takes a long time. As an alternative maybe bower should say no search was entered and then ask the user if they would like to list all packages instead of being hung up for about 10 seconds

Resolved by Pull #2074

[2015-11-30 02:06] tejgop commented on #2066
Good idea, either that or bower should return nothing.

[2015-11-30 02:19] eppeters commented on #2066
I think it is better to be explicit and let the user know their query failed because it needed more information. Alternatively, we could warn: This will list all (more than X) Bower packages, and will take a while. Continue? y/N

[2015-11-30 02:37] tejgop commented on #2066
Actually there should be a threshold, like 100 to give that warning.

[2015-11-30 08:23] sheerun commented on #2043
:+1:

[2015-11-30 08:35] sheerun commented on #2066
Any PR that improves this behaviour is welcome

[2015-11-30 11:21] joelharkes opened #2067 ".bower.json contains illegal json (sometimes)"
installing package with bower i get 2 bower.json files: bower.json and .bower.json.

the .bower.json file contains:

[code]

done with command install bower

and in json file:

[code]

[2015-11-30 11:23] joelharkes commented on #2067
I can reproduce it by runing bower install twice after eachother

[code]

[2015-11-30 14:05] AnthonyBobsin commented on #2043
Going to close this issue, and will open a new one for implementing a max line length throughout the repo

[2015-11-30 14:05] #2043 closed

[2015-11-30 19:12] indolering commented on #1914
But wouldn't that require me to drop that into every Bower command?  It would be easier to just use my parent directory hack than type `bower install jquery --save --directory /path/to/bower_components`.

Which basically kills our primary use case.  This setting is only useful as a way of consolidating Bower assets across multiple projects.

But the change I'm proposing would only break older vers

[2015-11-30 22:52] scrapcupcake opened #2068 "Error installing on windows"
Get the following errors trying to install on windows w/ Babun shell; I get the same result running from cmd.exe.

npm ERR! git clone <path to git remotes>\git-github-com-sheerun-fs-write-stream-atomic-git-v1-0-4-fix-7baaaaefc7e8a6f2fd1f4fdbc8e4b6e7 <path to babun git cache>\git-cache-46304c2d82f00cbe3eac10f17e03bb1a\ac0f001d165564b3763da3252d5bff327c26aea9: Cloning into '<path to babun git cache>

[2015-12-01 00:19] waaronking commented on #1952
Yeah I agree with @lambertsteven, at my org we're running into a similar issue. The main files don't provide enough information to know the requisite dependencies.

[2015-12-01 00:49] tejgop commented on #2068
I don't have Windows anymore, but here are some possible problems:
* Git not installed
* Old version of NPM
* Old version of Git
Please provide me some more details, like the versions of your NPM and Git.

[2015-12-01 01:22] scrapcupcake commented on #2068
git --version
git version 2.6.2
node -v
v5.1.0
npm -v
3.3.12

npm install uglifyjs succeeds no problem, as does the rest of my individual node packages.

It seems to be failing on building the package for the bower/package.json line, other packages install fine:
 "fs-write-stream-atomic": "sheerun/fs-write-stream-atomic#v1.0.4-fix",

[2015-12-01 01:24] scrapcupcake commented on #2068
Of note, that repo exists but does not have that tag/branch.

[2015-12-01 01:26] scrapcupcake commented on #2068
Added in this commit: https://github.com/bower/bower/commit/89286e628b124136d90d69f039ac52beaf7a89eb

[2015-12-01 01:30] tejgop commented on #2068
Bower installs fine for me, even though I'm using older versions of node and npm. :confused: :question:

[2015-12-01 01:32] scrapcupcake commented on #2068
Double check that you don't have permissions to that repo that I/the public
don't have?

On Mon, Nov 30, 2015 at 5:30 PM, Tejas Gopalakrishna <
notifications@github.com> wrote:

[2015-12-01 01:34] tejgop commented on #2068
Testing on another machine, give me some time...

[2015-12-01 01:42] tejgop commented on #2068
Probably some problem on your side, because I  was able to install it on a fresh VM:

[code]

[2015-12-01 01:42] tejgop commented on #2068
Wait... did you run `npm install bower` or `npm install -g bower`?

[2015-12-01 02:05] scrapcupcake commented on #2068
I've tried both, same result.

Also:
git clone git@github.com:sheerun/fs-write-stream-atomic.git
~
Cloning into 'fs-write-stream-atomic'...
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

If I try the HTTPS version, it works, so I think this might be related to
an issue on windows, somethi

[2015-12-01 02:09] tejgop commented on #2068
Ok, give that a try and let me know if it works.

[2015-12-01 03:15] tejgop opened #2069 "Make quality standards for the website"
A website for anything is very important. Why? Two reasons.

One:
* A website is what (most) new users visit *before* installing the software.
* They form impressions about the software based on what the website tells them.

And two:
* Users who want to know more about bower visit the website to read the documentation.

(I just expanded on what the [README](https://github.com/bower/bower.github.io

[2015-12-01 05:03] kosmonaffft commented on #2068
I have the same trouble.

PS C:\WINDOWS\system32> npm install -g bower
npm ERR! git clone C:\Users\Anton\AppData\Roaming\npm-cache\_git-remotes\git-github-com-sheerun-fs-write-stream-atomic-git-v1-0-4-fix-7baaaaefc7e8a6f2fd1f4fdbc8e4b6e7 C:\Users\Anton\AppData\Local\Temp\npm-8400-795cf4f0\git-cache-4c2b8a05a6085614c5f1dfda639cc782\ac0f001d165564b3763da3252d5bff327c26aea9: Cloning into 'C:\Users\An

[2015-12-01 05:18] scrapcupcake commented on #2068
I solved mine by installing absolute latest git for windows,
3.6.3.windows.1; The version 3.6.2 that's the latest I can get inside of
babun is either out of date or doesn't have the windows patches necessary
to work around this issue; so I have to run my npm commands from inside of
cmd.exe rather than babun for now.

On Mon, Nov 30, 2015 at 9:04 PM, Антон <notifications@github.com> wrote:

[2015-12-01 05:39] shgtkfj commented on #2068
Hi,

I have same problem on my windows pc. I'm using git 2.6.3 on msys.
"npm install bower@1.6.7" is OK but "npm install bower@1.6.8" is failed. Is it because of difference of fs-write-stream-atomic entry in the package.json?

* package.json@1.6.8
    "fs-write-stream-atomic": "sheerun/fs-write-stream-atomic#v1.0.4-fix",
* package.json@1.6.7
  "fs-write-stream-atomic": "^1.0.4",

[2015-12-01 06:47] kunyan commented on #2068
@shgtkfj  I don't have Windows, but can you try to run

[code]

then install 1.6.8 again ?

[2015-12-01 06:51] kosmonaffft commented on #2068
npm install -g shrinkwrap - installed successfully
npm install -g bower - same error as before

[2015-12-01 07:01] kunyan commented on #2068
https://docs.npmjs.com/files/package.json#github-urls

@kosmonaffft could you pls check your npm-config version ?

[code]

[2015-12-01 08:31] kosmonaffft commented on #2068
PS C:\WINDOWS\system32> npm config -v
3.3.12

[2015-12-01 08:52] pertrai1 commented on #2069
@tejgop I do agree that there needs to be more concise content that lets a user know exactly what roles there are and how that user can partake in helping out. Your table is a clear way of letting the user know what can be done and how to do it. :+1:

[2015-12-01 09:01] pertrai1 commented on #2067
@joelharkes Just out of curiosity and for learning, in the json file, does
`jquery.serialscroll": "jquery.serialScroll#~1.3.1"`
have to include the name of the package, or can it just be `~1.3.1` ?

[2015-12-01 09:11] shgtkfj commented on #2068
It seems to depend on git version.
   git 1.9.5 => OK
   git 2.6.3 => NG

[2015-12-01 10:18] accommodavid commented on #2068
Confirming that with
[code]
it does work for me, but I am getting the following:

[code]

[2015-12-01 10:27] shgtkfj commented on #2068
I was using git on msys2. I thought they are same. The following is my result.
   git 2.6.3 on msys2  => NG
   git for windows  2.6.3 => OK

But I also have other error as with accommodavid.

[2015-12-01 13:16] sheerun commented on #1914
I'm not willing to change this field from string type to object type

I still think that using absolute paths in configuration is non-portable. The current behavior of relative paths is for me more sensitive. I woudn't call it "incorrect behavior".

I can still accept a PR with tests that allows for absolute path in `directory` field in `.bowerrc`.

@gronke Feel free to assign this task on you. I'

[2015-12-01 13:27] sheerun commented on #1952
Personally I think we can't please everyone. If you really need to "list" resources needed for building your project, add a `.json` file to `main` that lists all of them. Or just add `fields` field to bower.json, no problem.

Standardizing such field is out of Bower's scope, simply because Bower doesn't use it in any way..

Would the possibility to add any custom fields, including `files`, to `bow

[2015-12-01 13:58] tejgop commented on #2068
For users who want to resolve this issue **on Mac:**
[code]

@accommodavid, since you use Windows, I suggest you reinstall git following [these instructions](https://github.com/bower/bower/blob/master/README.md) (scroll down to 'Windows Users').

[2015-12-01 14:06] kunyan commented on #2068
@accommodavid  I have same version like you, tested on Windows 7. got same error.

you can run below to fix it
[code]

It seems cause by Windows path limit, git for windows have some bug

[2015-12-01 14:36] sheerun commented on #2069
Yes, please :)

[2015-12-01 14:46] tejgop opened #2072 "Pay for developers didn't make sense"
I got confused because the form for bower contributions asked "how much do you expect per hour?" so I left it blank. Can someone please elaborate on the amount and where the money is coming from and how the developers will get it?

I think pay for developers in an **open source project** doesn't really make sense.

[2015-12-01 15:18] ptitgraig opened #2073 "make global bowerrc path configurable"
Hello.

Unlinke NPM, it would be nice to be able to configure the path to the bowerrc global config file.
For example by using a environment variable:
`export bower_config_globalconfig=<path/to/bowerrc>`.

In addition to this, it would be good also to have a global config file without a "." prefix, since it's by default hidden on LINUX machine - i know you can still type `ls -a` to view all file,

[2015-12-01 16:11] sheerun commented on #2072
For now there are no sponsors except Artifactory that is willing to sponsor #505

What's wrong with paying for open source work?

[2015-12-01 16:18] sheerun commented on #2073
We could support `--config=/path/to/bowerrc` flag that would add additional entry to load.

What should be the merging behavior in such case? Should we use only file passed in `--config` or merge it according to rules defined on http://bower.io/docs/config/ ? Please propose full spec.

I guess that would also solve global config without "." prefix?

[2015-12-01 16:20] tejgop commented on #2072
If we are sure that the sponsors will stay then there is no problem. The problem arises when everyone expects pay but there are no sponsors/donators. That is how manyopen source projects become paid.

[2015-12-01 16:24] tejgop commented on #2072
I didn't know there were sponsors, I thought it was 100% random donations, so I guess there is no problem.

[2015-12-01 16:24] #2072 closed

[2015-12-01 16:28] sheerun commented on #2072
Contributing to bower is always voluntary by default. Sponsorship makes sense only for few persons to work on maintaining a project or contributing in continuous way. See Ghost / NPM / neovim / Apache foundations / Mozilla / other open source foundations. I'd like to see it in bower as well.

I think this question can be little misleading, so I removed it from the form. Thank you for feedback.

[2015-12-01 16:33] tejgop commented on #2069
Working on it...

[2015-12-01 16:47] nickautomatic commented on #2044
Hi. Just to confirm, 1.6.8 works fine for me. Thanks for that.

[2015-12-01 17:13] ptitgraig commented on #2073
## use cases for global config file

* company willing to capitalize on a global bower config for all its projects
* developers willing to externalize their bower configuration to avoid having too much config files in their projects directory.

## placement and order

I suggest the addition of a new placement as follow:

The config is obtained by merging multiple configurations by this order of im

[2015-12-01 17:16] sheerun commented on #2073
Maybe we should put it at the beginning instead of end and use `bower_config` variable or `--config` flag?

[2015-12-01 17:24] eppeters opened #2075 "Make output consistent for each command when there is a problem with the command's parameters"
Issue #2066 was addressed by PR #2074, which determined that it would be best to default to displaying a help screen to the user when `bower search` is run with incorrect (no) parameters. For instance, if no `package` parameter is passed to `bower info`, it should default to showing the output of the `bower help info` command.

Currently the command just exits without a message if run without a `p

[2015-12-01 19:12] indolering commented on #1914
It would only be an object type for absolute paths, any `"directory" : "path"` entries would continue to be resolved using the current logic.

[2015-12-01 23:49] #2068 closed

[2015-12-02 04:03] tejgop commented on #2069
Done. [Check it out](https://github.com/bower/bower.github.io/blob/master/CONTRIBUTING.md).

[2015-12-02 04:03] #2069 closed

[2015-12-02 04:21] thinkxl commented on #2011
I was wondering about this a few days ago. I was looking for a good/formal way to ask our company to support the project in any way, because we make money out of it.

Maybe start with a gist or a hackpad to define the content first, then create the landing page/wiki page.

[2015-12-02 09:41] ptitgraig commented on #2073
In my opinion `--config` should remain the top priority because this is a final user harcoded value. The final user should be given the the possibility to override default values defined in files and environmenent variables (i would compare this to the `style=""` in css).

The current `bowerrc` file lookup stratey is great. However it lacks maybe the possibility to define a global config file some

[2015-12-02 10:46] sheerun commented on #2073
According to current "rules" of parsing environment variables and cli arguments, `bower_config` is synonymous  to `--config` cli flag. I don't want to change that :)

[2015-12-02 11:02] sheerun commented on #2069
Awesome :)

On Wed, Dec 2, 2015 at 5:03 AM, Tejas Gopalakrishna <
notifications@github.com> wrote:

[2015-12-02 14:01] svengt commented on #1040
I would suggest to make this configurable like npm does.
[code]
http://blog.heroku.com/archives/2015/11/10/node-habits-2016#2-use-a-smart-npmrc

[2015-12-02 14:11] sheerun commented on #1040
Good idea. I'll accept a PR enabling it for .bowerrc

[2015-12-02 20:04] thinkxl opened #2077 "Improve current style guide"
I want to suggest some improvements in the current [Style Guide](https://github.com/bower/bower/wiki/Style-Guide). The goal is to make it more clear, readable, and easy to expand in the future (if needed).

Before to re-write the entire document I wanted to show you my proposal. The biggest change is the one focusing on following a commenting convention, here is the link:

https://gist.github.com/

[2015-12-02 20:07] ubergesundheit opened #2078 "Installed package through git:// or url-download misses build, debug, spec and src folders"
Steps to reproduce:

bower.json
[code]

[code]

Output:
[code]

Is this behaviour wanted? Switching to `git://` also misses the dotfiles and the folders.
I need these directories for building leaflet from source.

Thanks in advance!

[2015-12-02 21:23] jahan-addison commented on #2077
:+1:

[2015-12-02 22:16] contolini commented on #256
Satisfied by #2070.

[2015-12-02 22:19] contolini commented on #2077
Looks great @thinkxl. :+1:

In your style guide you recommend naming anonymous functions and using JSDoc-style comments. The current codebase does neither of these things but they're both good practice so I support including them.

[2015-12-02 23:01] accommodavid commented on #2077
:+1: this is some seriously good work

[2015-12-02 23:12] thinkxl commented on #2077
I will go ahead and modify the wiki page, if we change our minds we can go back in the revisions.

Thanks for your feedback!

[2015-12-02 23:23] thinkxl commented on #2077
https://github.com/bower/bower/wiki/Style-Guide

Done.

[2015-12-02 23:23] #2077 closed

[2015-12-03 03:47] Utsav2 commented on #2078
This is what the bower.json of leaflet looks like:

[code]

So it's those folders are specifically ignored, so I would imagine this is expected behaviour.

[2015-12-03 05:45] ubergesundheit commented on #2078
Huh, I must have missed that. Thanks for pointing that out!
Am 03.12.2015 04:47 schrieb "Utsav Shah" <notifications@github.com>:

[2015-12-03 05:45] #2078 closed

[2015-12-03 16:57] anyangocynthia commented on #1730
I changed to ssh and it worked

[2015-12-03 18:20] BenMann commented on #1980
Works for me with version 1.6.8.
[code]

[2015-12-03 21:15] indolering commented on #1914
But, of course, for external projects my solution would complicate simply reading the path.

[2015-12-03 21:31] indolering commented on #1986
That means I won't be able to override a project's directory paths using my own config without having to maintain a split version of the `bower.json` directory.  This is why `.config` files exist: to isolate user-specific settings.  We should at least be able to force an override within a `.bowerrc` file.

[2015-12-03 21:52] sheerun commented on #1986
I don't understand. Please provide an example. Config in `bower.json` is not inherited, and works only if it is defined in cwd where bower runs. You can as well replace `directory` in bower.json.

[2015-12-03 22:33] heinst commented on #2066
Pull request #2074 resolves this issue

[2015-12-04 01:42] pertrai1 commented on #2067
@joelharkes - just wanted to follow up about this issue and if you have been able to resolve?

[2015-12-04 14:20] pertrai1 commented on #2000
@DHNCarlos Did you follow up on the suggestion from @faceleg ? I took a look at the repo for readmine2 and does not look to be actively maintained so did not know if the issues are related to the project not staying up with the newer releases of NodeJS.

[2015-12-04 17:24] akhiruddin opened #2079 "How to get previous version of bower"
Samsung@Dean MINGW64 ~
$ npm install -g bower
npm WARN addRemoteGit Error: Command failed: git -c core.longpaths=true config --get remote.origin.url
npm WARN addRemoteGit
npm WARN addRemoteGit     at ChildProcess.exithandler (child_process.js:213:12)
npm WARN addRemoteGit     at emitTwo (events.js:87:13)
npm WARN addRemoteGit     at ChildProcess.emit (events.js:172:7)
npm WARN addRemoteGit     at

[2015-12-04 21:29] sheerun commented on #2079
I've released bower 1.6.9 that should fix this problem

[2015-12-04 21:29] #2079 closed

[2015-12-04 22:30] lambertsteven commented on #1952
It would only be useful if everyone followed it. Without a standard, it probably wouldn't fix the underlying issue.

[2015-12-04 22:30] #1952 closed

[2015-12-05 00:06] akhiruddin opened #2080 "[windows] [mingw] Register requires an interactive shell"
After  i remove the previous bower v1.6.8 and reinstall with latest version of bower v1.6.9
i tried to use init bower command, but it failed, and relay this message :

[code]

can anyone help me?

@sheerun

[2015-12-05 02:54] tejgop opened #2081 "`bower info` output is too long"
**TRY TO SCROLL DOWN:**

[code]
(Most of the output is cut out.)

The output is so long, that it is extremely hard to see the most important content:

[code]

I suggest that the command `bower info` ONLY shows the above output, but all the output could be shown using another command, eg `bower info angular all`.

[2015-12-05 05:25] contolini commented on #2081
It's really only a problem for packages that auto-tag releases so I don't think it's necessary to permanently omit the versions. Instead we could show the latest XX versions and if there are additional ones, require the `--verbose` flag to show the full list. See #780.

[2015-12-05 07:53] prometheansacrifice commented on #2081
@contolini You mean more like this?

[code]

And show available versions only on `--verbose`?

[2015-12-05 12:14] sheerun commented on #2080
It's duplicate of #1942. Fow now there's no known solution except using git bash instead of mingw.

[2015-12-05 12:14] #2080 closed

[2015-12-05 12:18] sheerun commented on #2081
I think we can skip pre-releases in interactive output and add at the end:

[code]

[2015-12-05 13:10] prometheansacrifice commented on #2081
@sheerun Like this?
[code]

[2015-12-05 13:13] sheerun commented on #2081
Yes, but there ARE some non-preleleases for angular so we need to show them :)

[2015-12-05 13:13] tejgop commented on #2081
Like this:
[code]
To show available 103 prereleases use "bower info angular --verbose"

[2015-12-05 20:50] cockroachzl commented on #1942
+1

[2015-12-06 14:20] joelharkes commented on #2067
Yes i'm pretty use its not an issue of this plugin, i haven't had time to test just using `~1.3.1`. il do that as soon as possible.

[2015-12-06 15:57] tsdaemon commented on #1356
I've faced this issue on Windows with a local version of forked package. Bower do not copy new files from local folder and I need to do manual cache clean every time

[2015-12-06 16:19] watilde commented on #1784
Resolved by https://github.com/bower/config/pull/42. Looks nice :)

[2015-12-07 01:40] heinst commented on #2075
Ill help out with this one...already got info done Ill do a few then create  a PR

[2015-12-07 02:16] eppeters commented on #2075
Nice!  Be sure to check out #2074 because it should now be very easy to make a command default to the help screen. You just need to throw the right error in the readOptions for the command. Ignore me if you already knew that :P

[2015-12-07 08:03] sheerun commented on #1356
Please provide exact steps to reproduce & platform details in new issue.

[2015-12-07 08:04] sheerun commented on #1784
It'll be released really soon

[2015-12-07 08:04] #1784 closed

[2015-12-07 13:31] eppineda commented on #2081
If there are many opinions on what's important for this output and what's not, what do you think about making this configurable? That way, if opinions/needs change again in the future, the configuration can be modified instead of the code.

[2015-12-07 15:19] sheerun commented on #1594
@albertinadx Any progress? :)

[2015-12-07 17:39] pertrai1 commented on #2081
What about a prompt asking if the user wants to see the list of prereleases? If they answer 'yes' then the whole list is displayed, if not, then the short list is displayed. It could even go to the point where the prompt asks how many of the latest releases would the user like to see?

[2015-12-07 17:42] pertrai1 commented on #2011
@faceleg @sheerun Has this stalled or is it still be worked on to come up with the pitch?

[2015-12-07 17:44] pertrai1 commented on #2081
#1983

[2015-12-07 17:46] pertrai1 commented on #1983
#2081 is a newer thread that goes along with this to a point

[2015-12-07 21:03] sheerun commented on #2011
I had no time to work on it. I guess @faceleg is stuck with it as well?

[2015-12-07 21:04] sheerun commented on #2081
We want to avoid interactivity as much as possible

[2015-12-07 21:04] sheerun commented on #1983
@pertrai1 It's little different request

[2015-12-07 23:20] eppineda commented on #1943
it just happened to me. I did 1.7.0 last night and it's prompting me to "update" to 1.6.5. It's also incorrectly reporting my local version as 1.6.3.

![tt-api_ _bash_ _104x29](https://cloud.githubusercontent.com/assets/6559491/11642979/18c4dcee-9d0f-11e5-9571-cd605c749034.png)

[2015-12-07 23:29] accommodavid opened #2090 "Gzipped files are producing empty folders or not getting extracted"
Tested on OS X 10.11 and Windows 10, using Bower 1.7.0.

When running `bower install --save path/to/agzipped.js.gz`, bower either creates an empty folder with the name of the file (Mac) or creates a folder but does not extract the file, resulting in `bower_components\package\index.gz`. (Windows) The same thing happens when the dependency is manually added to `bower.json` and `bower install` is run

[2015-12-08 01:12] pertrai1 commented on #2081
What would be the reason for avoiding? I think of it like when I am installing `apt-get` and there are Y/N that I answer along the way.

[2015-12-08 01:12] pertrai1 commented on #1983
@sheerun How do I un-reference it?

[2015-12-08 02:01] Nosthertus opened #2091 "Error on installing bower"
i am just installing the tools i need for the new job i just got, i installed lastest version of `git, node`, but when i install bower using the command `npm install -g bower` it throws this error
[code]

[2015-12-08 09:01] contolini commented on #2081
It's best to have a sensible default. That last example from @tejgop looks best to me. I can start on this if no one else has already.

[2015-12-08 09:46] pertrai1 commented on #2081
@contolini Sounds good. I don't see anyone assigned to it, so go ahead and assign it and start away :-)

[2015-12-08 09:59] sheerun commented on #1943
@eppineda Maybe it is this issue: https://github.com/greenkeeperio/greenkeeper/issues/33#issuecomment-144468858

[2015-12-08 10:02] sheerun commented on #2090
We need to check behavior of previous releases. Was it always broken?

[2015-12-08 10:03] sheerun commented on #1983
You can't

[2015-12-08 10:03] sheerun commented on #2091
Please post it on npm's issue tracker: https://github.com/npm/npm/issues

[2015-12-08 10:03] #2091 closed

[2015-12-08 10:21] sheerun commented on #2081
@pertrai1 But please also write at lest 2 tests for it (with prereleases, and with `--verbose` flag)

[2015-12-08 10:30] sheerun commented on #2081
btw. the test should go to `test/commands/info.js`

[2015-12-08 14:03] gitawego commented on #505
+1 for lockfile

[2015-12-08 14:04] VaclavDedik commented on #505
+1

[2015-12-08 15:11] ptitgraig commented on #2073
I'm fine with that. So you suggest to use the global variable `bower_config`, no `bowerrc` global file ?

[2015-12-08 17:06] eppineda commented on #1943
It certainly looks similar.

On Tue, Dec 8, 2015, 04:59 Adam Stankiewicz <notifications@github.com>
wrote:

--
epp

[2015-12-08 18:56] sheerun commented on #2073
`bower_config` only points to file to read. like `bower_config=/Users/sheerun/my_awesome_config.json`

[2015-12-08 19:45] Utsav2 commented on #1980
It also worked for me with 1.6.5

[2015-12-08 20:49] pertrai1 commented on #2081
@sheerun I am taking this one on or is @contolini? I said go ahead and assign it to himself, but I can take this on. Flip the coin ... I choose heads.

[2015-12-08 21:40] contolini commented on #2081
@pertrai1 Tails! I'll give it a shot.

[2015-12-08 21:50] eppineda commented on #780
How many features are potentially affected by this enhancement request? Can this work be divided?

[2015-12-08 23:49] morrislaptop commented on #505
+1

[2015-12-09 05:11] mwilli23 commented on #1730
What the hell is a ssh???

[2015-12-09 08:51] sheerun commented on #1980
@bower/windows  Could you test it on Windows with .bowerrc to `{ "directory": "assets/vendor" }`

@pronebird If we won't find a way to reproduce, we'll need to close it.

[2015-12-09 08:55] aleemb opened #2095 "Better control over destination of direct assets"
It would be lovely if Bower could support arrays for dependency values, such as,

[code]

This would mean that both assets end up in the same folder. Currently I cannot figure out a way to put both those assets in the same folder. I believe this is a legitimate use-case and would allow for organising assets from unpackaged sources.

Alternatively (or additionally), something along the following li

[2015-12-09 08:58] pronebird commented on #1980
@sheerun I cannot reproduce it anymore either, still on 1.6.5. Must be a fluke.

[2015-12-09 09:00] sheerun commented on #1980
Well, the worst kind of, because for sure it exists but we can't trace it ;/

[2015-12-09 09:00] #1980 closed

[2015-12-09 09:14] TheRakken commented on #1980
I've tested on windows 7 with bower 1.7.0 and it works ok.

[2015-12-09 10:32] sheerun commented on #780
I think it can but it's probably better if someone takes this task, sugars `logger.debug` all over the place, and submits a PR :)

[2015-12-09 10:33] #2081 closed

[2015-12-09 10:42] sheerun commented on #2095
You can change directory destination with

[code]

Bower doesn't support sub-directories in bower_components, nor it will be supporting them, sorry.

[2015-12-09 10:42] #2095 closed

[2015-12-09 10:49] aleemb commented on #2095
@sheerun thanks for the tip, I tried that but it doesn't work as proposed. Could you please verify if this is a missing feature or if it is indeed something that I am not doing right:

[code]

Error:
[code]

Thanks very much!

[2015-12-09 10:57] aleemb commented on #2095
@sheerun for clarification, I want both the css and js files to end up in the same folder. This will allow me to grab assets much more easily.

I think it's a very useful feature to have.

Not everyone has published a bower package but the simplicity and easy of bower should not be wasted on them. This just allows me to specify that I want to take all these CSS and JS files and put them in my spec

[2015-12-09 11:46] sheerun commented on #2095
It would be, but reusing the same folder and nested directories are against whole internal architecture of bower. We simply can't implement it in reasonable time.

You can use `postinstall` hook to move assets to appropriate places, though.

[2015-12-09 11:50] aleemb commented on #2095
Makes sense, fair enough. Good idea on the `postinstall` hook tip, will go that route.

[2015-12-09 17:41] sheerun commented on #505
Please don't +1 this. **We need someone skilled to declare to work at least 1-2 weeks on this feature and then maintain it for some time**, so I can be sure it is solid and stable enough to release. We need to:

1. Review my current requirements about this feature. Do they cover all the edge cases? What are the ramifications? How can we can achieve backward-compatibility and (even more importantly

[2015-12-11 13:24] segrey commented on #2066
Hi guys!
Is there now a way to retrieve all bower packages using cli? It's a needed operation for WebStorm Bower integration. Previously, IDE just run `bower search --json` and parsed JSON output.

[2015-12-11 13:35] sheerun commented on #2066
It turns out the implementation AND tests are wrong... We should display all packages when --json is passed.

[2015-12-11 15:23] eppeters commented on #2066
I can work on fixing this today if no one else is.

[2015-12-11 15:32] segrey commented on #2066
Thank you for the fast respond. Yep, `--json` would be a good trigger. Meanwhile, `bower search "" --json` is used as a workaround. FYI, I think I observed several time some text prefix (like some debug output) before JSON body result. Unfortunately, it cannot be reproduced anymore.

[2015-12-11 17:37] deedubbu opened #2097 "bower link not installing dependencies in version 1.7"
Since the update to bower 1.7, the `bower link` command is no longer installing dependencies from the package being linked. I suspect it has to do with commit e3f402fc66ee49e6ca033fdd43ce7a7cf1a5bb0c as the link command calls Project.update which is now only updating specified names and the link command only specifies the project being linked.

[2015-12-11 17:53] contolini commented on #2097
[Yup.](https://github.com/bower/bower/blob/master/lib/commands/link.js#L62) :+1: It'd be good to get this covered by a regression test before patching it. I'll find some time later today to look into it.

[2015-12-11 19:15] #2066 closed

[2015-12-11 22:13] segrey commented on #2066
Thank you for the quick turnaround!

[2015-12-12 00:08] pwang2 opened #2098 "dependencies is ignored in bower list --json meta if processed."
This is an inquiry to confirm if this is a bug or in-design behavior.

[code]

If we install jquery-cookie with foundation(foundation has jquery-cookie as dependency), when running bower list --json, in the output(https://gist.github.com/pwang2/79c716ef79d319b31022), jquery-cookie under foundation's dependencies has dependencies: {}; actually it should be

[code]

I think it is kinda reasonable to

[2015-12-12 10:54] bevinhex commented on #102
Same issue here, using linux mint, bower 1.7.1
Not using ~/.bowerrc, if I create it in project folder it works,  but never uses home folder

[2015-12-12 12:45] dcbrwn commented on #802
+1 same here

[code]

[2015-12-12 15:39] sheerun commented on #102
Works for me on 1.7.1.. Can you post your full environment? (bower version, node version, os version)

[2015-12-12 15:44] bevinhex commented on #102
-> nodejs -v
v4.2.3
uname -a
Linux bevin-silent 3.16.0-38-generic #52~14.04.1-Ubuntu SMP Fri May 8 09:43:57 UTC 2015 x86_64 x86_64 x86_64 GNU/Lin
bower -v
1.7.1

[2015-12-12 17:16] sheerun commented on #102
@bevinhex Could you post the directory of the project, contents of .bowerrc? Do you use sudo for bower?

[2015-12-12 17:40] bevinhex commented on #102
[code]
I don't use sudo for bower, bower installed using
```npm -g install bower```

[2015-12-12 17:50] sheerun commented on #102
@bower/contributors We need to investigate this. Can anyone confirm it?

[2015-12-12 17:54] bevinhex commented on #102
I'll try it in another computer when I go to office, then paste the result

[2015-12-12 18:45] pertrai1 commented on #102
@bower/contributors

I have taken the steps to try to reproduce the issue and here are my findings:

[code]

Created a `.bowerrc` file in home directory

[code]

Then ran:

[code]

Ran `ls -la` and there is no `assets/components` directory.

I then created a `testing` directory in home folder. Changed `.bowerrc` to the following:

[code]

Ran `bower install jquery` again from home directory:

[cod

[2015-12-12 20:42] paulohp commented on #102
Since I'm working on #1986, I can take a look on this one.

[2015-12-12 20:43] sheerun commented on #102
So it's also an issue on Darwin... @paulohp We need to create failing test for it.

[2015-12-13 10:16] #2090 closed

[2015-12-13 12:11] pertrai1 commented on #1974
@sunnytham - Are you still having this issue with you Maven build? If you can supply the npm-debug.log, that would be very helpful in getting this resolved for you.

[2015-12-13 12:13] pertrai1 commented on #1977
@bower/contributors - Any ideas to lead @buschschwick in the right direction?

[2015-12-14 06:21] it-sumanp opened #2101 "Bower@1.7.1 Problem if Path is Github zip location"
I my project I am having "Sankey": "https://github.com/tamc/Sankey/archive/master.zip",
This give "Could not find the End of Central Directory Record" error ..in bower@1.7.1
but when i downgrade bower to 1.7.0 it worked fine

[2015-12-14 08:30] sheerun commented on #2101
Works for me.. Can you provide your platform details?

[2015-12-14 09:31] BenMann commented on #2101
Works here as well :whale:

[2015-12-14 12:59] andrey-p commented on #1919
Please add documentation, I just got tripped up by this too.

[2015-12-14 13:16] it-sumanp commented on #2101
node @ v0.12.4
npm @2.10.1
MAC OS X 10.10.5

[2015-12-14 13:57] green-arrow commented on #2101
Same issue here when using a Github ZIP path.

[code]

[2015-12-14 14:58] sheerun commented on #2101
@Utsav2 I think it might be https://github.com/bower/bower/commit/cdf45239f4853ce7d9ccd6b146ea84194bcf52fa

Could you verify it on node 0.12 on osx?

[2015-12-14 15:48] Utsav2 commented on #2101
That commit wasn't merged till [yesterday](https://github.com/bower/bower/commit/1e5122c023912203a39b86fe6e08dba013c252c7), so it's not a part of 1.7.1, and the issue is something else.

[2015-12-14 15:49] sheerun commented on #2101
Hmm. Right

[2015-12-14 16:51] buschschwick commented on #1977
Thanks @pertrai1 - this is still an issue, but I ended up having to just create a new package and move on. It would be nice to be able to remove my first one.

[2015-12-14 17:32] pertrai1 commented on #1977
@buschschwick - you are welcome. Just to be clear, what do you mean "remove my first one"?

[2015-12-14 23:19] wkoffel commented on #2101
I can confirm that reverting to 1.7.0 fixed this issue for me.

[2015-12-15 00:04] buschschwick commented on #1977
@pertrai1 I created a package (the first one), with a repo associated with BitBucket, which is no longer maintained as it is now on GitHub. Because I couldn't change the package repo / delete it I created a new package in the registry with a slightly different name.

I'd like to wipe the first one from existence if possible :-)

[2015-12-15 00:45] sheerun commented on #2101
Could you all help to pinpoint the issue? It's either one of commits since 1.7.0 or updated dependency (Bower bundles dependencies on releases)

[2015-12-15 01:40] pertrai1 commented on #1977
@buschschwick If I understand correctly you want to unregister your package? You can do `bower unregister <package>` and that should take care of it for you. I hope I am answering the question right

[2015-12-15 02:07] buschschwick commented on #1977
@pertrai1 The answer is correct, however since it was created with BitBucket I get this error:

`Can only unregister packages hosted on GitHub.com`

It's marked private so it doesn't show up when searching, but just sort of stinks that I used my good package name :disappointed:

That's alright. Unless you know of any other solutions, I'm just going to close this issue since it didn't seem to creat

[2015-12-15 02:12] pertrai1 commented on #1977
@sheerun - is there any way to handle the issue that @buschschwick has run into with the name of his package being available after moving it from BitBucket?

[2015-12-15 02:15] sheerun commented on #1977
@buschschwick please send a request to bower/registry repository

[2015-12-15 02:15] #1977 closed

[2015-12-15 02:17] pertrai1 commented on #1977
@sheerun - Thanks Adam for quick help

[2015-12-15 02:17] buschschwick commented on #1977
@pertrai1 @sheerun Yes, thanks everyone!

[2015-12-15 05:35] Sspeed5cm opened #2104 "I unregister a package, but it still can be lookup."
I unregister a package first:
[code]

and, use `bower lookup` to look for it

[code]

The package is still can be lookup.

but,I clean the cache:

[code]

and look for it again:

[code]
use `bower info`
[code]

it works.

Why is that? Thanks for helping me!

[2015-12-15 05:49] BenMann commented on #2104
That's default behavior (correct me if I'm wrong, y'all). As you've already resolved/installed the package once Bower keeps it in the cache, so following installs can be much quicker. That is also why it is generally adviced to clear the cache after unregistering a package. See [bower/registry](https://github.com/bower/registry#unregister-package) for more or if you need further help.

[2015-12-15 05:49] #2104 closed

[2015-12-15 05:56] contolini commented on #2104
:+1: The registry client [checks your local cache](https://github.com/bower/registry-client/blob/master/lib/lookup.js#L28-L50) unless `--force` is passed.

[2015-12-15 06:05] Sspeed5cm commented on #2104
@BenMann Thanks. Yes, if you install a package, Bower will cache the package. The cache path for example: `C:\Users\dulin\AppData\Local\bower\cache\packages`。But I think register a package or unregister a package should have no relationship with cache.(Forgive me, my English is not well).
In my head, I think `register `,`unregister`,`lookup`,`search`,'info' CLIs are all online operate.

@contolini

[2015-12-15 11:53] roseanngabon commented on #802
I've tried to downgrade the version to bower 0.10.0 but it doesn't work well. The bower init configuration works fine for few seconds then it hangs up your terminal. The solution is found in on its documentation. It's not supporting MinTTY which causes this problem.
Here is the solution:
1. Uninstall existing GIT bash
2. Reinstall GIT bash
3. Set up during installation:
3a: Select> Use Git form th

[2015-12-15 11:56] roseanngabon commented on #2080
I agree with sheerun. The solution is to install GIT bash and avoid using MinTTY and follow the documentation.
Here is the solution:
1. Uninstall existing GIT bash
2. Reinstall GIT bash
3. Set up during installation:
3a: Select> <strong>Use Git form the Windows Command Prompt </strong>
3b: Select> <strong>Checkout Windows-style, commit Unix-style line endings</strong>
3c: Select> <strong>Use Windo

[2015-12-15 16:14] wwarby opened #2105 "UNABLE_TO_GET_ISSUER_CERT_LOCALLY when installing private package from TFS"
I'm trying to host a bower package in TFS and install it to another project in TFS. I've got the GIT repo set up correctly with the bower.json file in place, and in the second project's folder I'm running:

bower install "https://tfs.hca.local/Shared/UserInterface/_git/Hca.Shared.Styles"

It returns the error UNABLE_TO_GET_ISSUER_CERT_LOCALLY

The TFS server and my machine are on the same LAN, but

[2015-12-15 17:11] ptitgraig commented on #2073
I set a env variable like: `bower_config=/path/to/my/global/bower/bowerrc` on my linux.
It's not taken into account. Am I using it correctly ?
The content of my bowerrc looks like:
[code]

[2015-12-15 18:48] tgrux commented on #2101
I've spent about 4 hours trying to figure out our missing bower packages and discovered it to be related to 1.7.1.  It seems to be randomly downloading and extracting gitHub packages in a weird way.  It is excluding content, mainly the .bower config "main" param.  This results in our gulp process NOT moving any files to the build directory and thus breaking our build.  Rolling our bower version ba

[2015-12-15 19:17] bmcallis commented on #2101
I've confirmed that it's an issue with node 0.12 and bower 1.7.1. I was able to successfully bower install with the latest version of 0.10, 4 and 5.

[2015-12-15 19:51] albertinadx commented on #1594
@sheerun I'm back :), I will finish this in the following couple of days. I want to develop a couple of tests before making a PR.

[2015-12-16 05:36] VaibhavP17 commented on #1626
+1

[2015-12-16 13:54] ptitgraig opened #2106 "cache cannot be used by several user from the same group (unix)"
Hello.

__The context:__
Bower version: 1.5.3
Node version: 0.12.7
OS: Linux 2.6.32-358.23.2.el6.x86_64 x64

Several users uses the machine. All of them use Bower. They share a same cache location define in a global bowerrc with `storage.package: "path/to/packages/"`

__The issue:__
Let's say we have 2 user `userA` and `userB` on a Linux machine belonging to the same group `groupUser`
When `userA`

[2015-12-16 19:02] imsky commented on #2101
can confirm this with 1.7.1 too

[2015-12-16 19:28] ethanclevenger91 commented on #1942
Also was able to solve by not using the mintty install of Git Bash (Windows). Not ideal

[2015-12-16 19:35] Utsav2 commented on #2101
What's weird is that I can reproduce the bug when I do `npm install -g bower`, but if I checkout 87cf578 (1.7.1 tagged release) and `npm install -g`, it works perfectly fine, making it impossible to debug. My guess is something went wrong with a bundled dependency.

If someone who had this issue can try this:
`npm uninstall -g bower`
`git clone https://github.com/bower/bower.git`
`git checkout 87c

[2015-12-16 20:27] BenMann commented on #2106
Did you `sudo npm install -g bower`? Not sure this helps, but I'd give it a shot, as this is clearly caused by lack of permissions. Maybe installing globally will change group permissions (this is just a guess, as I have no way to replicate righ now). Alternatively.. can you manually set the permissions for the group on the cache folder?

[2015-12-16 21:20] Utsav2 commented on #2106
I think every mkdir call in bower could have a permission of 0765, which can be specified in [mkdir's second parameter](https://github.com/substack/node-mkdirp). The default seems to be 0755, which doesn't give write permission. This should make the bower cache usable by all users in the same group. IIRC, file permissions don't inherit from parent directory or anything, so changing the code of bow

[2015-12-16 21:36] tgrux commented on #2101
@Utsav2 I tried installing bower directly as you suggested and branch `87cf578` does *not* have this issue.  I did verify this issue again though and can consistently produce the error when using 1.7.1 installed with NPM.

[2015-12-16 22:00] pyalxx opened #2107 "1.7.1 fails to extract files"
I have a project with such bower file:

[code]
I've upgraded bower today to 1.7.1. After I run a new clean install using

[code]

My grunt-bower-concat task broke with main files error. I've noticed that some directories in bower_components folder contained unpacked .tar.gz files.

Downgrading to 1.7.0 solved the problem.

[2015-12-16 22:02] EvanCarroll commented on #915
I'm also getting this error, easy to reproduce..

    bower install http://dhtmlx.com/x/download/regular/dhtmlxSuite.zip

[2015-12-16 22:08] BenMann commented on #915
@EvanCarroll There's a newer issue related to this: https://github.com/bower/bower/issues/2101 ..apparently not only GH locations, if your extraction fails as well.

[2015-12-16 22:19] BenMann commented on #2101
Shot in the dark: could it be related to this: https://github.com/bower/bower/commit/cdf45239f4853ce7d9ccd6b146ea84194bcf52fa
Can someone try without gzip / old `request`?

[2015-12-17 03:17] kunyan commented on #2107
Which version of bower you used before upgraded ?

I try to use 1.7.0 upgrade to 1.7.1, but didn't reproduce

[2015-12-17 08:55] vchekan opened #2108 "Random packages corruption"
I am experiencing random bower package corruption (not all files are present) . I clean the cache, reinstall, and than another package(s) get corrupt. I can see that corrupt packages are in the cache. I suspect glitches in github, but does bower have any checks that archive stream did not end prematurely? Maybe it makes more sense to download .zip files, at least they have crc32 checks in zip form

[2015-12-17 09:03] ptitgraig commented on #2106
Thanks for your replies.
@BenMann i did indeed install bower globally. I could of course set the permissions for the group but i'm not sure this is the desired behavior and i'm not willing to run it everytime a new package is installed.
@Utsav2 I could for sure do a batch to `chmod 765 <dirname>` but i'm wondering why I should do this. So basically my question is : is my use case not handle by bow

[2015-12-17 09:40] BenMann commented on #2108
There is a check [here](https://github.com/bower/bower/blob/cdf45239f4853ce7d9ccd6b146ea84194bcf52fa/lib/util/download.js) pretty much at the bottom.. it's not very neat though. We're generally experienceing problems with extracting zip files lately, not sure if that's related though!

[2015-12-17 09:42] pyalxx commented on #2107
I used version 1.7.0 which is working fine. I've updated bower today to 1.7.1 and made fresh install - everything worked fine. Maybe it is somehow related to servers, because I had it reproducing on three different systems yesterday.

[2015-12-17 09:57] BenMann commented on #2107
Sounds like the bug fixed itself..
I'll close this in favor of https://github.com/bower/bower/issues/2101, as it might be related! Please comment if the problem persists or anything and I'll re-open.

[2015-12-17 09:57] #2107 closed

[2015-12-17 10:41] pyalxx commented on #2107
Yes, seems to be related. Thanks for a quick reaction!

[2015-12-17 13:38] ptitgraig commented on #2105
Try with a bowerrc like:
[code]

[2015-12-17 13:45] ptitgraig commented on #2073
@sheerun I am not sure this feature is implemented. Is it ? If so we shall close this discussion since it answers the need, else is it on the road ?

[2015-12-17 13:49] ptitgraig commented on #1945
Which version of artifactory and bower are you using ? I know I'm not answering your question but you could make your life easier with bower 1.5.x> and user the artifactory resolver.

[2015-12-17 13:53] ptitgraig commented on #1919
This issue can be close since it's documented now.
https://github.com/bower/bower.github.io/blob/master/docs/pluggable-resolvers.md

[2015-12-17 14:19] gpolyn commented on #2039
I wish this issue were documented, as it recurs from time to time and only when I use Bower. What is behind the establishment of the troublesome file?

[2015-12-17 14:28] BenMann commented on #1919
Agree.. Closing.

[2015-12-17 16:57] Utsav2 commented on #2106
Yeah, I don't think it's handled, and there'll have to be a code change to do it as I mentioned before.

I'm not sure it should be handled by default, there can be security concerns (anyone in the same group could potentially tamper with packages).

[2015-12-17 17:07] BenMann commented on #2106
Yep, was going to raise an eyebrow on securtiy as well. For now you could probably handle this with a post-install hook.. so it's not impossible. Having said that, I'm not sure we should actually change the default way bower sets permissions. I'd consider this an individual case which isn't needed that often.

[2015-12-17 17:13] andrey-p commented on #1919
Sorry, I'm not sure if the actual problem @gaurav21r and I had was documented.

[The usage section](https://github.com/bower/bower.github.io/blob/master/docs/pluggable-resolvers.md#using) that @ptitgraig linked to mentions that you can use resolvers globally or locally, but doesn't go into more detail. Specifically it doesn't mention that you have to install the resolver globally if bower is insta

[2015-12-17 17:21] BenMann commented on #1919
Oh, I get it. I thought the first sentence is enough, stating to install globally, but I see where you're coming from. I'll keep it open, also because

[2015-12-17 17:23] andrey-p commented on #1919
Thanks. Appreciate your work on this! :bow:

[2015-12-17 17:41] vchekan commented on #2108
Than I'm at loss. From "-V" logs I saw tar.gz downloads. I did not capture tcpdump because it is https.
Closing #2108 as a dup: symptoms sounds exactly like my case. If I find any new info, I'll report to #2101.

[2015-12-17 17:41] #2108 closed

[2015-12-17 17:49] vchekan commented on #2101
Just to reiterate #2108. I have a project with maybe 15 packages (Polymer). Once I discovered that cache is corrupt, I cleaned cache and re-downloaded. Every time I did so, different package(s) become corrupt. So the error was intermittent. After 4 or 5 retry, I finally got to the state where my project gave no errors. But I still have no confidence that all packages are correct, maybe more errors

[2015-12-17 18:35] sheerun commented on #2073
It is not implemented yet. We're just discussing it.

[2015-12-17 18:40] sheerun commented on #2101
Could you write tests to reproduce? Or something to reproduce?

[2015-12-17 19:57] CamronBute commented on #2000
I am having this same problem

[2015-12-17 20:04] vchekan commented on #2101
Unfortunately I do not know what happen, thus I don't know what unit test needs to do.
As pointed by @BenMann, there is a check in the code for ContentLength field. This could be unit tested. But I am not sure what would happen if http would use chunked transfer encoding. There is no content-length http field in this case. Also it is potential possibility that for whatever reason server would cach

[2015-12-17 20:58] GarrettQ1 opened #2110 "Bower install fails to install full packages"
After upgrading from 1.6.9 to 1.7 I did bower cache clean then bower install. Modules were failing with syntax errors. After looking at the module that was failing I noticed the file just ended at the line of the error. After downgrading to 1.6.9 this quit happening

[2015-12-17 21:10] GarrettQ1 commented on #2110
this is happening out of nowhere. closing for now to determine if its bower or my system.

[2015-12-17 21:10] #2110 closed

[2015-12-17 22:29] sheerun commented on #2101
It is unit tested: https://github.com/bower/bower/blob/master/test/util/download.js#L160-L176

Maybe the issue is in extractor?

[2015-12-17 23:49] Utsav2 commented on #2101
@sheerun check out the mine and @tgrux's comments above, it doesn't seem like an issue in bower's code, and it's hard to debug, as it tends to disappear if we install bower from the repo directly.

[2015-12-18 03:31] vchekan commented on #2101
Ok, new info. I managed to reproduce it and compared bower_components folders.

As you can see, 2 files are incomplete and there is a bunch of missing. But it puzzle me even more. If it was premature https stream termination, than just one file would be incomplete.

[code]

[2015-12-18 03:34] vchekan commented on #2101
My project:

[code]

[2015-12-18 06:15] BenMann commented on #2101
Just what I thought next, after checking the downloader.
We use three libraries in the extractor that seem relevant: `zlib`, `tar-fs` and our own repo `decompress-zip`.. none of those changed in the last release and I think their dependencies didn't either. What I thought could be relevant is changes to the node streaming API, which we maybe didn't account for.. BUT all this seems irrelevant as @U

[2015-12-18 07:22] BenMann commented on #2110
Are the modules in question retrieved from zip archives? In that case: related — https://github.com/bower/bower/issues/2101 Any new info should go into that issue, thanks. :wink:

[2015-12-18 08:24] ptitgraig commented on #2106
Ok Thanks. So the `storage.package` option does not make sense for a shared bowerrc. Shall we update the doc ?

[2015-12-18 08:26] ptitgraig commented on #2073
Got it. I'm not aware of how decision is made among bower community but I would be happy to be noticed when the decision is made.

[2015-12-18 08:30] ptitgraig commented on #1919
Indeed, my mistake.

[2015-12-18 09:09] sheerun commented on #2106
@ptitgraig Bower does the same as npm - `0777 & ~process.umask()` that is usually 644 for files and 755 for directories, because `umask` is usually 022.

What is the umask of your user account and root account?

[2015-12-18 09:10] sheerun commented on #2073
The decision is made :) I'll accept a pull-request implementing it.

[2015-12-18 09:37] wwarby commented on #2105
I had to replace the %20 with a space, but that's moved the needle - now I'm getting the error "EHTTP - Status code of 401" so it's obviously accepted the certificate now, thanks. I don't suppose you could help with how to provide user credentials for a private GIT repository?

[2015-12-18 10:19] sheerun commented on #2105
You can configure it in ~/.ssh/config

On Friday, 18 December 2015, William Warby <notifications@github.com> wrote:

[2015-12-18 11:36] OmgImAlexis opened #2111 "Two different projects using same name with different case"
https://github.com/centralway/chart.js and https://github.com/nnnick/Chart.js are both on bower, one using a capital `C` and other not.

Is there a reason bower allows/allowed this?

[2015-12-18 11:38] OmgImAlexis commented on #1984
Getting the same results as @robstoll with [Chart.js](https://github.com/nnnick/Chart.js).

[2015-12-18 11:39] sheerun commented on #2111
No specific reason. It was mistake to allow it but is too late to remove it to break backward compatibility.

[2015-12-18 11:39] #2111 closed

[2015-12-18 11:56] OmgImAlexis commented on #2111
@sheerun could there not be a warning like what NPM did to ask the user to notify the owner to change their name to lowercase only and disallow any new names to be registered in anything but lowercase? This would basically fix this issue.

[2015-12-18 12:25] ptitgraig commented on #2106
both userA and userB account have `0002`.
root account has `0077` (but i'm not supposed to be root on the machine :p)

[2015-12-18 12:26] sheerun commented on #2111
We had this enabled for a while, but there was an issue with re-registering packages that were camelCased. Until this issue is resolved, we can only show a warning, but it's not implemented yet #1014

A PR is always welcome.

[2015-12-18 12:28] sheerun commented on #2106
You have your answer. umask of 0077 means any files created have 700 permission by default.

I'm not sure if we should override this behavior. I wonder what npm does.

[2015-12-18 12:28] ptitgraig commented on #2073
Great, I'll work on it.

[2015-12-18 12:38] ptitgraig commented on #2106
Oh ok thanks for this piece of knowlegde! So If I understand bower runs as root even when I run it with a user?

[2015-12-18 12:46] ptitgraig commented on #2105
If you are on Windows the config file might be in your user directory. In your command prompt type `cd %USERPROFILE%` then edit the `.gitconfig`  file in it.

[2015-12-18 13:51] ahmadmilzam commented on #1942
+1, use git bash with windows default console to solve this.

[2015-12-18 19:30] ajssd commented on #1945
I mentioned above that I reproduced with bower 1.5.3 and 1.6.2.  We are also using
"bower-art-resolver": "2.0.1".  But as shown above, this is reproducible without Artifactory.

[2015-12-18 20:34] walgitrus opened #2112 "`bower install` seems to ignore `--log-level`"
`--quiet` or `--silent` greatly reduce the output, but `--log-level=warn` does not

this is with bower 1.7.1

[2015-12-18 20:45] pwang2 commented on #2098
@sheerun Can I bother you with this?

[2015-12-18 21:50] ptitgraig commented on #2112
I'm not sure what you mean.  `--log-level-warn`  is supposed to display ast least warning messages. What do you actually get ?

[2015-12-19 14:28] pertrai1 commented on #2112
@walgitrus - as @ptitgraig asked, please add the message you received and information about your operating system. Thank you

[2015-12-19 14:30] pertrai1 commented on #2106
@ptitgraig - Once you feel  you have received the information you need from the thread, please close and comment. If you still have answers you need, feel free to keep open

[2015-12-20 05:06] hdgarrood commented on #2112
Same here - ubuntu 14.04, bower 1.7.1. I can't find any `--log-level` option that seems to have any effect on bower install. For me, in a directory with a bower.json with dependencies and no `bower_components` existing already, the following all produce the exact same amount of output:

[code]

In the same vein, it would be nice if the last variant failed (as it seems it should).

Also, kind of re

[2015-12-20 15:10] publicocean0 commented on #24
They are ight , bower is too much simple.
If you write a complex javascript module , you want separate it in different submodules to reuse in other projects or you want embedd in the browser just the necessary submodules.  It is necessary to introduce a way for handling sub components

[2015-12-20 17:30] jamesxv7 commented on #1567
In the following [issue](https://github.com/twbs/bootstrap-sass/issues/749) conversation @glebm indicates that they are not following the `+N` convention for for newer versions. With that information we can considered this issue closed.

For the part related to the semantic versioning please refer to this [comment](https://github.com/bower/bower/issues/1486#issuecomment-54069741) by @sheerun.

[2015-12-20 17:30] #1567 closed

[2015-12-20 17:55] jamesxv7 commented on #1571
In my opinion the benefit of the error notification offered by the name property is positive since it encourage me to organize my projects (even the private ones). I appreciate having the option that not having at all. I would like to hear more opinions from the community and @bower/contributors.

@sheerun: Any plans to remove name property from private packages?

[2015-12-20 18:26] jamesxv7 commented on #1794
This issue/enhancement is properly discussed in multiple repositories, such [npm]( https://github.com/npm/npm/issues/8159) just to mention one. Due to the impact that can cause this kind of change I'll lock the issued. I understand it is a good initiative and we must ensure that not only the Bower Community is on board but also the different components and players that comprise the front and back

[2015-12-20 18:26] #1794 closed

[2015-12-21 02:26] punitganshani commented on #1785
I am still getting this issue in version `1.8.0`
In which version will this be released?

[2015-12-21 03:56] sheerun commented on #2098
I guess it is to prevent duplication or something? I don't think it's by design in this case, it looks wrong. If you could fix it, but also make sure it works with circular dependencies, I think we could merge fix to Bower.

[2015-12-21 03:56] sheerun commented on #2098
@pwang2 Thank you for reporting it, by the way :)

[2015-12-21 05:13] sheerun commented on #2112
It's a documentation issue. log-level is actually loglevel

Thank you for reporting.

[2015-12-21 05:14] #2112 closed

[2015-12-21 06:49] sheerun commented on #1571
I think it's safer to not remove it. `name` in package.json makes package name independent from its location on disk (or remote location). It is useful also for private packages.

Without `name` we'd need to default package name to directory name it is in, but it is rather more error-prone because renaming a directory also changes installation directory..

Sorry, for now it won't happen. I see `np

[2015-12-21 06:49] #1571 closed

[2015-12-21 06:50] sheerun commented on #2106
@ptitgraig Bower doesn't change user for running. Please use StackOverflow for support questions.

[2015-12-21 06:50] #2106 closed

[2015-12-21 06:56] sheerun commented on #1794
It would be better to incorporate bower.json into package.json instead, but we need to figure out how to maintain backward compatibility first.

[2015-12-21 07:03] sheerun commented on #1785
It's already released. And there's no bower 1.8.0 yet.

I've checked it and proxy settings work for 1.7.1. There are also test for them.

407 means there's authentication issue with your proxy. If you're really sure it's bower's error, please re-open another issue with exact steps to reproduce (e.g. shell script with proxy in docker container).

[2015-12-21 07:37] sheerun commented on #2101
I really can't reproduce it.. Also I've checked and there's literally no difference between version published on npm and 1.7.1 tag, including dependencies.

[2015-12-21 07:39] sheerun commented on #2101
@it-sumanp @green-arrow @vchekan Maybe you could prepare Docker image that reproduces?

[2015-12-21 08:20] hdgarrood commented on #2112
Ah, I see, thanks. Perhaps it might be worth erroring on unrecognised options, then?

[2015-12-21 08:23] sheerun commented on #2112
I think it would be acceptable, even it is breaking change

[2015-12-21 16:54] pwang2 commented on #2098
@sheerun , You are absolutely right.  Circular is the problem here to solve.

The current implementation may be a shortcut to solve the problem. But It's unexpectedly breaks non circular case like what I mentioned above.

What we could improve is to create a circular cache to break the ring ONLY when needed.  If a dependency is identified also on existing dependency path(aka a pkg is the descendan

[2015-12-21 17:55] johnx7271 commented on #972
I found that this is due to the way node deal with path. I used system internal to log the file access during "bower install xxx", and found the pattern: D:\path\to\currentdir\"C:\Program Files (x86)\Git\cmd"\git.exe, clearly incorrect,i.e. node should not prepend current dir to a path dir item.

[2015-12-22 00:23] pwang2 commented on #2098
@sheerun , could you brief me the de-circular strategy in bower?

Even in the bundler case like webpack, source code of circulated dependencies need to be arranged to [certain pattern](http://benjamn.github.io/empirenode-2015/#/14)  to work.  in the &lt;script&gt; tag loading case, it is definitely not working at all.

so my extended question is is it valuable to push this to a package manager lik

[2015-12-22 01:56] jlmakes opened #2115 "Invalid-meta warning?? (Is bower.json required in package.tar.gz?)"
This is breaking dependency injection (e.g. Grunt's wiredep task):

<img width="933" alt="screen shot 2015-12-22 at 1 44 26 am" src="https://cloud.githubusercontent.com/assets/2044842/11945909/18e5528e-a855-11e5-83bc-6278d117d9bf.png">

Yet, I have both of these present in my `bower.json`:

[code]

I have a `.gitattributes` file configured to filter what ends up in the release, so my `package.tar.

[2015-12-22 06:21] jlmakes commented on #2115
Well found a new feature to implement and bumped to 3.0.2—I included `bower.json` in the package release file and everything is right as rain.

Cheers!

[2015-12-22 06:21] #2115 closed

[2015-12-22 11:00] sheerun commented on #2098
I never really went into de-circular strategy in Bower. I'd be glad if someone experimented with it and documented it.

[2015-12-22 20:28] che-effe commented on #1184
+1

[2015-12-23 03:56] pkosenko opened #2116 "Bower Failure with git:// protocol when behind a proxy server"
I had this problem before and solved it, but it is BACK with a vengeance in the latest Bower 1.7.1.

Bower fails to download packages when it is behind a proxy.  This used to be solvable by putting a ".git/config" file in the folder with the following:

[url "https://"]
    insteadOf = git://

This no longer works.  I was led to believe when I reported this previously that Bower was planning on fi

[2015-12-23 09:28] sheerun commented on #1184
I'm locking, because we're clear I'd accept such PR (`--clear flag that removes extraneous dependencies`)

[2015-12-23 09:49] pertrai1 opened #2117 "Quicker Defect Resolution?"
I want to propose adding this to the wiki or somewhere that this might help people to know of an approach to helping the team to reproduce defects possibly quicker. I have done an example video that shows a setup of bower inside of a project. This obviously is not a defect, but shows what steps I took. This is visually easier to see that looking through a bunch of code I believe. Think about it @b

[2015-12-23 12:09] brown2rl opened #2118 "ENOENT file or directory does not exist, rename in 1.7.1"
Getting an ENOENT for a non existent .tar.gz in the bower cache on Windows 7

[2015-12-23 20:29] coogor opened #2119 "bower requires git, but does not check for it"
When installing a package, bower fails without verbose message (see below for npm debug log).
Digging a little deeper I found that git is a requirement, but it is not checked for or installed.
I feel this missing dependency should be fixed.

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'install' ]
2 info using npm@2.14.7
3 info using node@v4.2.1
4 verbose re

[2015-12-23 23:19] pkosenko commented on #2101
Can anyone remind me HOW one REVERTS a bower update using NPM, or downgrades to an earlier stable version?

I made the mistake of updating Bower to 1.7.1 when the "update available" message came through.  (This is why we tend to get paranoid about updating things)  "bower install" now refuses to install the latest Polymer Starter Kit 1.0 bower components.  Bower seems to fail on trying to unpack a

[2015-12-23 23:28] green-arrow commented on #2101
@pkosenko you can run the following to install a specific version:

[code]

[2015-12-23 23:33] pkosenko commented on #2101
Yes, thanks . . . I looked that one up before you posted.  I don't do npm revert a lot.

[2015-12-23 23:40] pkosenko commented on #2101
I reverted to 1.6.8, which was working fine for me, and the error went away.  So . . . it is definitely a bug in version 1.7.1.  I'll have to try 1.7.0 later.

[2015-12-24 03:59] tmleeek commented on #314
just tried from visual studio code and still stucks , its also stuck in the terminal , i think this project is dead

[2015-12-24 09:35] sheerun commented on #314
0.8.5 is not supported for a long time

[2015-12-24 15:38] pertrai1 commented on #2118
@brown2rl - could you share more information from your log?

[2015-12-24 16:54] jamesxv7 commented on #1983
@avdd I'll close this issue since this item it is discussed in the following [thread](https://github.com/bower/bower/issues/1312).

[2015-12-24 16:54] #1983 closed

[2015-12-24 17:03] jamesxv7 commented on #1966
Hello @deedubbu, please verify the following [thread](https://github.com/bower/bower/issues/1493) in order to clarify doubts regarding `--quiet` option. Interesting information is being discussed which I believe it can provide guidance to your situation.

[2015-12-24 17:03] #1966 closed

[2015-12-24 17:06] jamesxv7 commented on #1961
Hello @astromac, could you please confirm is workaround provided by @esinek works?

[2015-12-24 17:12] jamesxv7 commented on #1959
@fabdeceglia Did you had the opportunity to check the solution provided by @tejgop?

[2015-12-24 17:32] jamesxv7 commented on #1820
Hello @jamesward, any updated related to this issue?

[2015-12-24 17:38] jamesxv7 commented on #1767
I believe the following links should work:
- https://github.com/bower/bower/tree/v1.0.0
- https://github.com/bower/bower/tree/v1.0.1

If you understand it is not, feel free to reopen the issue.

[2015-12-24 17:38] #1767 closed

[2015-12-24 18:21] yonatanhakatan commented on #1663
Hi,
Did this ever get resolved? Im experiencing the same issue.
Thanks

[2015-12-25 15:58] jamesxv7 commented on #1738
@leehambley Since it seems to be a problem, apparently, to the Mac OS I'll be closing the issue. If you thinks it is a Bower specific problem, feel free to re-open the issue.

[2015-12-25 15:58] #1738 closed

[2015-12-25 17:06] jamesxv7 commented on #1798
@stevemao Since [jsical](https://github.com/mozilla-comm/ical.js) now [supports](https://github.com/mozilla-comm/ical.js/pull/155) Bower, this item is not longer an issue.

[2015-12-25 17:06] #1798 closed

[2015-12-25 17:23] jamesxv7 commented on #2117
@pertrai1 I'll close this item since is not related to an issue in Bower per se, it seems more to a topic to be discussed on the [Discord Chat group](https://discord.gg/0fFM7QF0KpZRh2cY).

[2015-12-25 17:23] #2117 closed

[2015-12-25 17:37] jamesxv7 commented on #2056
@sheerun Apparently there is a large group of contributors and volunteers. I'm a product from you call (invitation). I believe this item may be closed since we can continue any discussion in the Discord Chat Room.

[2015-12-26 02:11] hdgarrood commented on #2118
This sounds similar to an issue I've come across on AppVeyor: https://ci.appveyor.com/project/bodil/pulp/build/1.0.67

This happens on about half of our CI builds on AppVeyor, although I've never seen it locally on my windows VM.

[2015-12-26 15:51] jamesxv7 commented on #1868
This issue seems to be related to **npm**. Try deleting the node_modules, clear the cache and install again. If this does not work feel free to re-open the issue.

[2015-12-26 15:51] #1868 closed

[2015-12-26 16:49] slavafomin opened #2120 "unexpected network errors during dependency installation (perhaps due to a network or server failure)"
Hello there!

Thank you for your important work.

However, I'm experiencing network errors during dependency installation.

For example this is the final lines from the `bower install` output:

[code]

After those lines Bower is hanging indefinitely.

For some reason I have a lot of error messages like `ETIMEDOUT` and download retries. When I try to download the specified archives manually it work

[2015-12-27 08:47] BenMann commented on #2120
This could(!) be related: to https://github.com/bower/bower/issues/2101. We're having issues with handling zip archives at the moment and it is not yet clear what the root cause is. Is upgrading your node version an option?

[2015-12-27 13:04] slavafomin commented on #2120
I can't change Node version, because I have some packages that doesn't support newer version.

However, I've tried to install dependencies using this bower.json on another machine with the same version of Node and it worked fine. It looks like I do have some strange network problems with GitHub, but it shouldn't make Bower to hang silently.

[2015-12-27 14:48] zeakd commented on #1984
I have same error on my [project](https://github.com/zeakd/rothko.js)

[code]

[2015-12-28 08:28] carlosafonso commented on #2120
Hi,

FYI, I stumbled upon this as well. I was running 1.7.1 (OSX), but it keeps happening after downgrading to 1.7.0.

This occurs with a different package every time:
[code]

I downgraded to 1.6.8 (the latest version in the 1.6.x series) and everything seems to be OK now.

[2015-12-28 10:48] damncabbage commented on #2118
Gah! Sorry for the commit-reference spam above; I didn't realise it'd show up here. I was doing a burn-test by re-running the build to see whether the problem was caused by a regression between 1.6.9 and 1.7.1.

I'm *not* seeing the aforementioned problem on 1.6.9. I'm currently testing 1.7.0, and will post an update either way.

[2015-12-28 12:40] damncabbage commented on #2118
1.7.0 works for Pulp (see the comments and build logs in the [aforementioned pull request](https://github.com/bodil/pulp/pull/139)); 1.7.1 doesn't, for reasons I haven't been able to figure out.

A typical error I'm seeing sporadically when bower installs from cache, in case the [build logs](https://ci.appveyor.com/project/bodil/pulp/build/1.0.137) go away:
[code]

[2015-12-28 13:45] sheerun commented on #1984
You can see what bower sees by ussing command `bower info ENDPOINT`, like `bower info zeakd/rothko.js`. Most likely it's missing `ignore` info because you did not released version with added `ignore` field. Bower requires you to add *semver tag* to release package.

[2015-12-28 13:45] #1984 closed

[2015-12-28 14:04] ragmon commented on #1942
+1

[2015-12-28 20:04] PauliusLabanauskis opened #2121 "Minor version caret indicator for dependencies is not saved in bower.json"
Installing the dependency with minor version increment indicator (caret ^) does not save the indicator in the bower.json dependencies version value.

To reproduce, execute the following command:
`bower install --save Polymer/polymer#^1.2.0`

I get the following fragment in bower json:
[code]

I would expect to have the full version indicator saved:

[code]

When the caret is not there, executing `

[2015-12-29 07:58] damncabbage commented on #2118
@brown2rl Are you seeing this specifically on AppVeyor builds, or in general use?

https://github.com/bodil/pulp/pull/139#issuecomment-167740997 has more of a follow-up on the above (it's not comprehensive, because we basically know nothing). But [Bower's own build](https://ci.appveyor.com/project/sheerun/bower/build/531) in the lead-up to 1.7.1 failed with this error, on AppVeyor specifically. We

[2015-12-29 09:14] softvar commented on #1293
+1
@ApoorvSaxena

[2015-12-29 09:27] ApoorvSaxena commented on #1293
Another use case for this feature will be to create custom builds requiring the entire source along with build files, which are usually ignored in bower.json as not used by many in production. Currently the only solution is to fork the repo and change bower.json to not ignore the files required as per use. Ideal solution should be to add a setting inside bower.json that allows overriding `ignore`

[2015-12-29 17:13] samy100 commented on #102
Exact same issue here on MAC OSX 10.9:
[code]

[2015-12-29 22:48] kbenjamin commented on #2118
I'm seeing this installing google polymer-starter-kit (https://github.com/PolymerElements/polymer-starter-kit) so I think this is a general error.
I agree with the race condition assessment as the failure points are more or less random, as are the specific failures. Here are several examples of what I'm seeing (at different points during the install but the same types of errors):

bower paper-menu

[2015-12-30 00:22] damncabbage commented on #2118
@kbenjamin Thanks for the confirmation. :sweat_smile:

If you're able to encounter this locally (as your prompt seems to indicate), could you perhaps do a bunch of local runs like I did in https://github.com/bodil/pulp/pull/139#issuecomment-167740997, in an effort to nail down which commit it failed on? I've been trying, but my round-trip per test run is fifteen minutes. :worried:

If you're willi

[2015-12-30 00:51] kbenjamin commented on #2118
@damncabbage None of the above failed.

I made sure to clear bower cache, delete bower_components, uninstall bower (including the global copy), and reinstall fresh each of the above commits before running the bower install but all worked.

I reinstalled bower@1.7.1 and it fails again so I'm sure I've got the process right. Any other commits you'd like to try out?

[2015-12-30 01:04] kbenjamin commented on #2118
@damncabbage I tried the commit which bumped the release to 1.7.1 and it works, too! Something else is wrong with the release version.

[2015-12-30 01:12] kbenjamin commented on #2118
Even the commit that's tagged for 1.7.1 works fine (87cf578ba82e3d0eca4e5869469be85c4669cd23) but installing the commit doesn't get the full dependency tree so I'm guessing the problem is somewhere there.

If you want an easier test case, download https://github.com/PolymerElements/polymer-starter-kit and unzip it somewhere for testing. It's quick and easy enough to `bower install` and should fail

[2015-12-30 05:48] jcope2013 commented on #2101
I am reproducing it seemingly jumping between bower versions 1.7.1, 1.7.0, 1.6.8, etc I am uninstalling and reinstalling each new version but the issue persists, the only thing I have found that works for me is the solution @Utsav2 of cloning the repo/checking out a branch/npm install -g

node 0.12.9
npm 2.14.9
OS X 10.11.2

[2015-12-30 13:26] rajzshkr opened #2123 "bower command to check which user is currently logged in"
Need a command to check currently logged in user.

Example:
bower whoami
Currently logged in as ***username***

[2015-12-30 16:28] timvinc opened #2124 "install persist-js fails with "Repository not found""
It looks like an install of persist-js tries to find the library at https://github.com/gatt-ip/persist-js - which doesn't exist (any longer?).  I believe it should be looking at https://github.com/jeremydurham/persist-js

[2015-12-30 16:53] samccone commented on #2118
@kbenjamin you are on windows correct?

[2015-12-30 16:56] kbenjamin commented on #2118
Yes. Windows 7.

Initially had the problem with a Windows CMD prompt but additional testing
under Git Bash shell yielded the same errors.

Since it might be a timing issue, I'll also mention that I have an SSD hard
drive.

On Wed, Dec 30, 2015 at 11:54 AM, Sam Saccone <notifications@github.com>
wrote:

[2015-12-30 17:02] timvinc commented on #2124
It looks like maybe the fork located at gatt-ip was deleted, and the original project's owner (jeremydurham) has dropped maintenance responsibilities, so this may be a dead project.

[2015-12-30 17:03] samccone commented on #2124
seems like we should unpublish it then right?

[2015-12-30 17:04] timvinc commented on #2124
That seems appropriate to me

[2015-12-30 17:14] samccone commented on #2118
hmm fascinating, the fact when you bisected everything continued to work is surprising, I think the first thing we should do is nail down a reproducible test case and work backwards from there, in my mind there could be 2 causes of this regression

1. a code change in bower broke something
2. an upstream code change in a package that we depend on (via a loose semver dependency) is causing us probl

[2015-12-30 17:17] samccone commented on #2124
cc @desandro

[2015-12-30 17:54] kbenjamin commented on #2118
I think I've tested #1 and, at least on my machine, I can't find anything
that is an issue with bower itself.

As for #2, that's trickier. I just tried this experiment:

Install 1.7.0 and then installed the tagged commit for 1.7.1. This works.
Next, I installed 1.7.1 then installed the tagged commit for 1.7.1. This
fails.

I compared the two sets of listed dependencies and couldn't find anything
t

[2015-12-30 18:05] joslinm commented on #1351
I am running `docker-compose up` where my `docker-compose.yml` file is referencing sub-modules. It seems to be working fine until it blows up `fatal: Not a git repository: ../.git/modules/...`

Is there anything I can do or am I stuck high & dry for backward compatibility reasons?

[2015-12-30 18:08] benjiwheeler commented on #1037
Is there any chance that bower dependency resolution might be nondeterministic even when starting wth a clean cache and empty bower_components? I seem to be experiencing that!

(Asking here because it seems most relevant place)

[2015-12-30 18:43] samccone commented on #2118
@kbenjamin hmm lets try this.

can you run npm shrinkwrap on 1.7.0 and then npm shrinkwrap on 1.7.1 and then generate a diff between the files?

[2015-12-30 18:45] samccone commented on #1037
@benjiwheeler mind opening a new issue with a test case?

[2015-12-30 18:46] samccone commented on #2118
(potentially related https://github.com/bower/bower/issues/2101)

[2015-12-30 19:00] mmelvin0 commented on #2101
Here's a simple `bower.json` which causes the issue for me every time: https://gist.github.com/mmelvin0/d4588ccabebe3b32ecc6

Bower: 1.7.1 (problem goes away after `npm install -g bower@1.7.0`)
Node: 0.12.9 (from homebrew/versions/node012)
NPM: 2.14.15
OS: Mac OS X 10.11.2

Here's the stack trace:
[code]

[2015-12-30 21:44] desandro commented on #2124
`persist-js` has been unregistered :heavy_multiplication_x:

[2015-12-30 21:44] #2124 closed

[2015-12-30 22:23] samccone commented on #2124
thanks :sparkles:

[2015-12-30 23:01] kbenjamin commented on #2118
Looks to be the same issue.

Interesting in particular is @vcheckan also having issues with Polymer
Starter Kit. Could be that there is some clue in the bower.json from that
project - nothing is obvious in the root bower.json, however.
ᐧ

On Wed, Dec 30, 2015 at 1:47 PM, Sam Saccone <notifications@github.com>
wrote:

[2015-12-30 23:22] kbenjamin commented on #2118
@samccone No problem. Here is the diff you asked for (18Kb worth) I've highlighted a couple of possibilities with asterisks:

    3,5c3,5
    <   "version": "1.7.0",
    <   "from": "bower@1.7.0",
    <   "resolved": "https://registry.npmjs.org/bower/-/bower-1.7.0.tgz",
    ---

    236c236
    <               "version": "2.7.0",
    ---

    238c238
    <               "resolved": "https://regist

[2015-12-30 23:48] kbenjamin commented on #2118
Here's a cleaned up diff showing only what dependencies were added / changed / removed between 1.7.0 and 1.7.1. Note that these are sorted in alphabetical order and are unique changes (i.e. they may have happened in more than one place or subdependency):

    27c27
    < "https://registry.npmjs.org/bower/-/bower-1.7.0.tgz"
    ---

    29a30

    41c42
    < "https://registry.npmjs.org/configstore

[2015-12-31 00:03] samccone commented on #2118
Cool thanks @kbenjamin

Questionable things to me:

I would bet it is graceful fs...

to test this locally can you do...

`npm i graceful-fs@^4.1.2`

and try and reproduce?

[2015-12-31 00:18] kbenjamin commented on #2118
Exactly the order I had already started checking into and **I've got it!**

It is broken by fs-write-stream-atomic@1.0.6 https://github.com/npm/fs-write-stream-atomic/commits/master

fs-write-stream-atomic@1.0.5 works. I suggest changing the required release from 1.0.7 back to 1.0.5 in bower's package.json, filing a bug report in fs-write-stream-atomic, and bumping the version once that's resolved

[2015-12-31 00:19] robdodson commented on #2118
just wanted to say thank you @kbenjamin for all your effort on this!

[2015-12-31 00:20] samccone commented on #2118
awwwwwwwwwwwwwww yes amazing @kbenjamin

I will open the patch for bower, do you mind filing the bug over in fs-write-steam land?

[2015-12-31 00:21] kbenjamin commented on #2118
Will do and you're most welcome. Thanks for building bower :)

[2015-12-31 00:24] samccone commented on #2101
I hypothesize https://github.com/bower/bower/pull/2125 will resolve this issue...

@mmelvin0 can you give this a try?

[2015-12-31 01:52] #2118 closed

[2015-12-31 02:12] vladikoff commented on #2118
1.7.2 out with the fix https://github.com/bower/bower/releases/tag/v1.7.2

[2015-12-31 02:31] samccone commented on #2101
Can you all try the new release? https://github.com/bower/bower/releases/tag/v1.7.2

[2015-12-31 07:25] MisterFabulous commented on #1899
I had the same problem. Here in Oman, where I am currently working, they seem to block some things which bower try to resolve. After connecting to a VPN outside Oman it worked. It would be good if bower would not hang forever in this case, but give useful errors, if possible.

[2015-12-31 15:23] oosidat commented on #2123
Do you mean checking for currently logged in user after doing `bower login`?

[2015-12-31 16:10] rajzshkr commented on #2123
yup, If logged in we have to display the logged in username or have to through info message.

[2015-12-31 16:44] oosidat commented on #2123
Alright – since we store the username upon login...

[lib/commands/login.js, line 34](https://github.com/bower/bower/blob/master/lib/commands/login.js#L34)
[code]
... it should (theoretically) be as simple as getting the username (like [getting the access token in lib/commmands/unregister.js](https://github.com/bower/bower/blob/master/lib/commands/unregister.js#L35)) and printing it to the console

[2015-12-31 16:46] #1351 closed

[2015-12-31 16:55] joslinm commented on #1351
Confused? You can see my SO post here: http://stackoverflow.com/questions/34538270/bower-git-submodules-docker-compose

[2015-12-31 17:04] sheerun commented on #1351
I know what you mean. There's even PR for it: #1106

We just need to put it behind some kind of flag to maintain backward compatibility for bower 1.x

I thought about `--beta` flag but I need to spec it first...

[2015-12-31 17:07] joslinm commented on #1351
Oh ok I'll follow the PR #1106 thank you. I'll try to catch up on what needs to get done and if I can contribute, I'll try my best. Thanks for the reply.

[2015-12-31 17:17] sheerun commented on #2123
There's PR for it: #2114

We can fetch username via received access token, no need for saving username

[2015-12-31 18:01] jamesward commented on #1820
I'm not quite sure the best way to handle this... Ideally Bower would resolve this but it seems that Bower is being End-of-Life'd.  Is this package also distributed by NPM?  If so, that seems like a better option.

[2015-12-31 19:19] sheerun commented on #1820
`bower info` uses `bower.json` from downloaded archive to show info

Their release on this version has 30MB to download. It's not Bower's issue. That's how long it takes to download this archive.

[2015-12-31 19:19] #1820 closed

[2015-12-31 19:38] jamesward commented on #1820
Downloading 30MB doesn't take very long.  There is some other mysterious stuff taking a bunch of time.  The `download` step below actually happens really fast.
[code]

But ideally Bower shouldn't have to download any archives to get package info.  This metadata should be in the package metadata repo like it is with NPM.

[2015-12-31 21:04] #2123 closed

[2015-12-31 22:08] azbshiri commented on #2121
What version of bower are you using?

[2015-12-31 22:11] #2119 closed

[2016-01-01 07:53] PauliusLabanauskis commented on #2121
1.7.1

[2016-01-01 08:52] azbshiri commented on #2121
[code]

I reproduced the situation but nothing came out and the indicator saved in bower.json

[2016-01-01 09:02] #1935 closed

[2016-01-01 14:23] PauliusLabanauskis commented on #2121
The issue is only reproducible on Windows. I have checked on Ubuntu and it works as expected.

[2016-01-01 16:19] ChadKillingsworth opened #2128 "Resolver to install from npm registry"
I'm the author of the [bower-sinopia-resolver](https://www.npmjs.com/package/bower-sinopia-resolver)

Are there plans to have a resolver to install from the npm registry? Based on my own tests, all that's required is that the package include the bower.json in the npm published files. I'm even willing to tackle such a task, but it would be best to have an agreed upon syntax for the resolver to matc

[2016-01-01 20:07] BenMann commented on #2101
Can someone confirm?

[2016-01-01 21:07] AlexanderSuvorov commented on #802
Thank you dreamypixy. It's so sad cuz i like MinTTY.

[2016-01-01 23:59] samccone commented on #2120
@azbshiri why did you close this?

[2016-01-02 10:16] azbshiri commented on #2120
because this:

unexpected behaviors in an unstable network is a different situation and should have its own issue but I'd open the issue again and update its title to be more competitive

[2016-01-02 14:03] pwielgolaski opened #2129 "Could we connect sslStrict configuration value with GIT_SSL_NO_VERIFY"
I think it could solve many issues reported with corporate proxies.
When I set ssl-strict: false, it only works for http calls, but it will fail when I use git command like
https://github.com/bower/bower/blob/2adb0b0807ccf325f3710d6ebf183e5a9b5f1159/lib/core/resolvers/GitRemoteResolver.js#L210

Not I need to change configuration of my git to also ignore SSL certificate, but it could be more compre

[2016-01-02 19:34] bmcallis commented on #2101
I was able to successfully run `bower install` with 1.7.2 with the same setup that fails with 1.7.1.

node v0.12.8
npm 3.5.1
osx 10.11.2

[2016-01-03 04:37] daprezjer commented on #2000
Ditto, I'm fairly new to bower, however.  Today on my Windows 10 Pro machine I:
- installed latest Git for Windows
- ran "npm install -g bower"
- ran "bower init" and received a "Register requires an interactive shell, you can manually force an interactive shell with --config.interactive" message
- ran "bower init --config.interactive" and received the same error as above.

 Let me know if there's

[2016-01-03 05:43] huangjihua commented on #1942
I have the same problem on window8.1

[2016-01-03 05:48] huangjihua commented on #1942
+1, use git bash with windows default console to solve this.

[2016-01-03 06:23] kaiocb commented on #2000
@daprezjer, can you tell us more about your environment too?
I performed some tests against:

`bower init` seems to be working.

[2016-01-03 15:02] marianoviola opened #2131 "libBower, a server-agnostic implementation of Bower"
I'm quite lazy so I took this text from Sass/libSass website changing it a bit:

It could be a good way to relaunch Bower as a server-agnostic package management tool, what do you think about?

[2016-01-03 15:52] sheerun commented on #2131
Unfortunately we don't have resources nor expertise to create such library

[2016-01-03 15:53] #2131 closed

[2016-01-03 15:59] sheerun commented on #2129
It's a good idea :)

[2016-01-03 16:00] sheerun commented on #2120
@azbshiri Please comment before closing / merging PRs and issues :)

[2016-01-03 16:03] sheerun commented on #2128
We don't plan to automatically install resolver, but you can put it in package.json, right?

[2016-01-03 16:03] sheerun commented on #2128
@azbshiri awaiting review label is for PRs awaiting review. There's no need to label issues like this.

[2016-01-03 16:05] sheerun commented on #2101
It seems resolved then in 1.7.2 :) Please comment if it is not true

[2016-01-03 16:05] #2101 closed

[2016-01-03 17:21] ChadKillingsworth commented on #2128
Are revolvers still required to be globally installed?

[2016-01-04 04:39] dotku opened #2132 "How can I change the global setting of bower?!"
I don't like creating .bowerrc file each time on my project. So I want to know how can I change the default setting of bower directory?!

[2016-01-04 09:01] rajzshkr commented on #2132
By default bower will install the dependency in bower_components folder in the project root.
If you want to install in the custom path for all the projects, then place .bowerrc file in the global folder (/). For more details on .bowerrc file placement please check the bower documentation.
http://bower.io/docs/config/#placement--order

[2016-01-04 09:48] carlosafonso commented on #2120
Still running into this issue with v1.7.2. As @slavafomin said, I cannot tell whether it was GitHub's fault though. My network connection is very reliable however, and I haven't had this problem with any other software.

Retrying two or three times usually works.

[2016-01-04 12:49] BenMann commented on #2132
Yep, closing cause @rajzshkr's answered it. Let us know if you need further help!

[2016-01-04 12:49] #2132 closed

[2016-01-04 13:30] rajzshkr commented on #1989
@sheerun  So how the behaviour should be?

[2016-01-04 16:59] sheerun commented on #2128
they can be installed locally if bower is

[2016-01-04 17:08] sheerun commented on #1989
ideally it would wait for input, but I bet it'lll be hard to orchestrate..

[2016-01-04 20:41] dotku commented on #2132
@rajzshkr Thank you, I also found your answer on Stack Overflow :D

[2016-01-04 22:00] benjiwheeler commented on #1037
Yes! Trying to get problem to recur reliably! ...

[2016-01-04 22:14] sheerun commented on #1037
@benjiwheeler Maybe at the same time you could send PR for https://github.com/bower/bower/issues/780 ?

[2016-01-05 10:51] lopezi opened #2134 "Remove bower proxy settings"
Bower is using a proxy it is not available anymore giving me "failed with ECONNRESET" errors.
I dont need a proxy anymore. How can I clean all my proxy settings?

[2016-01-05 11:28] #1914 closed

[2016-01-05 12:08] rajzshkr commented on #2134
@lopezi you might configured proxy in your .bowerrc file. So remove those proxy configuration , it should work. your config should look like below one.
{
 "proxy": "http://proxy.local",
  "https-proxy": "https://proxy.local"
}

[2016-01-05 12:20] sheerun commented on #2134
Actually you just need to *remove* all proxy and https-proxy entries in bowerrc. By default bower doesn't use proxy.

[2016-01-05 12:20] #2134 closed

[2016-01-05 12:22] lopezi commented on #2134
but there are no entries at .bowerrc, I just created the file to test @rajzshkr  solution which by the way is not working unfortunately

[2016-01-05 12:27] sheerun commented on #2134
Did you check .bowerrc in your home directory? You can also use `no-proxy` entry in .bowerrc to prevent proxying specific domains.

Bower also uses proxy if `HTTP_PROXY` or `HTTPS_PROXY` env variables are present. Please make sure `env | grep PROXY` doesn't return anything.

[2016-01-05 12:44] lopezi commented on #2134
correct @sheerun, I have an ALL_PROXY variable returned by grep, where can I find it to correct?

[2016-01-05 12:54] apaleslimghost opened #2135 "Inconsistent paths when installing dependency with a different name"
When explicitly installing a package that is registered under multiple names, the package is always placed in `bower_components` under the canonical name from the package's bower.json. For example, `bower install quartertobowertest-a` and `bower install quartertobowertest-b` both install to `bower_components/quartertobowertest-a`.

However, if another package has it in `dependencies`, it is instal

[2016-01-05 15:28] sheerun commented on #2134
Bower doesn't read ALL_PROXY. It seems to be for SOCKS connections for gnome. Maybe git reads it (bower runs git underneath). I hope you manage to fix your settings.

[2016-01-05 15:30] sheerun commented on #2135
It's interesting. Maybe you can write a failing test in `test/commands/install.js` ?

[2016-01-05 16:03] dschwank opened #2136 "[FEATURE] Add credential support for Git and SVN"
Hey,

I would love to add credential support for _Git_ and _SVN_ within bower, thus it is possible to use even private repositories with bower. We already implemented a working prototype for SVN, but before we continue working on that prototype / make a pull request, it would be nice if you could say if this solution would fit into the `bower` scope.

### Why?
Normally, in the _free & open_ world

[2016-01-05 17:22] ptitgraig commented on #2073
Closing this issue. Since it's accepted we'll discuss about it more in Discord.

[2016-01-05 20:43] BenMann commented on #2135
I'm not so sure this is something we can fix soon. I'll summarize the situation:

Because the bower.json is set to `name: dom-delegate` and there is only one (the same) repo for both packages the following happens:

Bower registry > `dom-delegate` > resolves to: `dom-delegate`
Origami registry > `ftdomdelegate` > resolves to: `dom-delegate`
Which is by design, as the packages are literally pointin

[2016-01-05 22:53] Download commented on #1626
Having read [this interesting article](http://blog.keithcirkel.co.uk/why-we-should-stop-using-grunt/) I myself was trying to move my configuration to `package.json`. However I found that lots of things are hard in package.json, especially because you can't reference one part of the json from another. So I came up with this little utility, [pkgcfg](https://www.npmjs.com/package/pkgcfg) to make work

[2016-01-05 22:57] adambuczynski commented on #1626
I think with Angular 2 and others moving to deprecate Bower in favour of npm for front-end package management, this issue might become obsolete in the foreseeable future.

Not trying to hammer on Bower, as it has served its purpose well over the past years, but it seems that with ES6 modules and improved build tools, it's no longer going to be necessary to have two different package managers for y

[2016-01-06 07:26] rajzshkr commented on #2135
@BenMann I saw plugins like jquery also registered many times, This may happen if the user trying to check bower register is happening or not?  So we have to make both **name** and **URL** unique, because we should not allow same package with different name and different package with same also. If you confirm I will crack the code of registry this week end.

[2016-01-06 08:35] ptitgraig commented on #2105
@wwarby does this solve your problem ?

[2016-01-06 11:44] ceoaliongroo commented on #1273
Despite the warm, runs normally.

[2016-01-06 11:44] #1273 closed

[2016-01-06 14:41] NoelBroda opened #2138 "Update changelog in v1.7.2"
After 1.7.2 version, changelog should be updated from 1.7.1

[2016-01-06 21:20] indolering commented on #1914
+1 @gronke!

[2016-01-06 22:45] gronke commented on #1914
@indolering :beers:

[2016-01-06 23:17] hdgarrood opened #2139 "`bower version` still uses bower.json, contradicting the spec"
For example, with Bower 1.7.2:

[code]

The same happens with `minor`, `patch`, and `build`.

[2016-01-07 00:46] rajzshkr commented on #2139
@hdgarrood I think there is a small typo in your command. It should be **bower --version major**

[2016-01-07 00:48] rajzshkr commented on #2139
@sheerun I think we have to change the logger message to
bower EINVALIDVERSION      Invalid version argument: `major`. Usage: `bower --version [<newversion> | major | minor | patch]`.

[2016-01-07 00:57] hdgarrood commented on #2139
@rajzshkr no, I meant what I wrote. Or perhaps the documentation is wrong: http://bower.io/docs/api/#version

[2016-01-07 00:58] hdgarrood commented on #2139
`bower version` seems to me like it should definitely be a subcommand, not an option.

[2016-01-07 01:29] rajzshkr commented on #2139
@hdgarrood oops. I made a wrong assumption.

[2016-01-07 06:24] jamesxv7 commented on #2138
Thanks for ping this! Close as per this [commit](https://github.com/bower/bower/commit/31544445569b15810b9b69eb218345b178be5799).

[2016-01-07 06:24] #2138 closed

[2016-01-07 08:42] sheerun commented on #2073
No need to close such issues. Discord is not a replacement for github issues

[2016-01-07 08:47] AstmDesign opened #2141 "npm install -g bower issue"
Guys I'm trying to install the Bower on my mac but usually I get this issue

$ npm install -g bower

npm ERR! Darwin 13.3.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "-g" "bower"
npm ERR! node v5.0.0
npm ERR! npm  v3.3.6

npm ERR! shasum check failed for /tmp/npm-592-cdaba300/registry.npmjs.org/bower/-/bower-1.7.2.tgz
npm ERR! Expected: b04228f9970f11777017e64ae39d71f9346c

[2016-01-07 08:53] BenMann commented on #2141
I think this is node related and you can try to swtich to another registry and reset it after successful installation (`npm set registry http://registry.npmjs.org/`). Does that work for you?

[2016-01-07 09:28] rajzshkr commented on #2141
@AstmDesign Long back one of my colleague faced the same issue. Try to uninstall node and  npm and install again. check this gist https://gist.github.com/DanHerbert/9520689 . let me know if it works !

[2016-01-07 13:44] AstmDesign commented on #2141
@BenMann I used this command
[code]
then the command
[code]
and it's working now   woooooooow  :)

when I running now the command
[code]

but now i'm trying to installing the **ngCordova** and got the issue
[code]

[2016-01-07 14:03] BenMann commented on #2141
What does your `.bowerrc` contain that's located at `/Users/astm/.bowerrc ` ?

[2016-01-07 18:06] BenMann commented on #2135
TLDR: If you have a better solution than described in :two:, I'm all for it!

We should not touch the registry for the actual issue described, as it wouldn't fix that problem. There can already be cases like this and it is now a little delicate which ever way we go, because we don't want to break current builds. Let's divide this into two before going into detail..

-
Here's an easy testcase (that

[2016-01-07 23:47] hdgarrood commented on #2139
I think this ought to be considered a bug, not an enhancement. It's very clearly not doing what the docs say it should do.

[2016-01-08 00:35] hdgarrood commented on #2139
Looking at the code, it seems the problem is that Bower is expecting the version to be in `bower.json`, and erroring if it isn't there. So I'm pretty certain that's what's causing the error I'm seeing.

Given that [the spec](https://github.com/bower/spec/blob/master/json.md#version) claims that Bower ignores this field, I think this is a bug. If I sent a PR which made Bower ignore the version in t

[2016-01-08 02:45] hdgarrood commented on #2121
On Windows, `^` is a shell escape character. I think you need to either quote it, or double it up: `bower install --save pkg#^^1.2.0`.

Either way, I don't think this is a problem with Bower.

[2016-01-08 03:02] haaaiiimmm commented on #1063
any other solution?  we met this issue either ..   @sindresorhus
`bower cache clean`  not work ...

sorry for my English...

[2016-01-08 06:25] rajzshkr commented on #2141
@AstmDesign you issue got solved?

[2016-01-08 13:14] KonradKiss commented on #2067
We're seeing this issue as well. The error message in the console after a prune and install:

[code]

The first install or update renders the `.bower.json` file, this is the result in this case:

[code]

That line before the last is the culprit. Not sure where that 1.6.3 is coming from (perhaps .cache), jquery 2.1.4 is resolved in the install process (our project's json sets ~2.1.4 up as a depende

[2016-01-08 14:40] BenMann commented on #2067
Can you share the bower.json from which you get that result — the one from the package that you run `bower install` on? I'm not sure i understand which steps you take to get this, and which `bower.json` is flawed in the end. Can you list all the steps?

[2016-01-08 14:48] KonradKiss commented on #2067
Sure, here you go:

[code]

These are the preinstall build steps in package.json:
`npm install -g bower grunt-cli && npm run vendor-clean && bower update -f`

vendor-clean is `npm prune && bower prune`

The flawed `.bower.json` appears in the bower_components/jquery directory (starts with a dot, I imagine this is a build cache).

[2016-01-08 15:20] BenMann commented on #2067
Thanks! :trophy:
I can replicate this, even without
`npm install -g bower grunt-cli && npm run vendor-clean && bower update -f` and
`npm prune && bower prune`
I'm a little disturbed that on first sight jquery is the only package causing this (having this issue). I'll try to reduce this and figure out what causes it.. meanwhile.. if you install jquery directly you get this (`.bower.json`):
[code]

[2016-01-08 15:27] BenMann commented on #2097
Any updates on this?

[2016-01-08 16:12] matthieusieben opened #2143 "Symlink instead of copy when installing local package"
When installing a local package `"private-package": "./private-package"`, the whole folder is copied. It would be nice to have an option in `bower install` that allows to symlink instead of copy? Or maybe by using a special `#link` at the end of the path?

[2016-01-08 21:07] AstmDesign commented on #2141
@BenMann @rajzshkr  I'm still get the same issue and I'm also used this commands

[code]

[code]

but nothing happen !!

[2016-01-09 06:49] BenMann commented on #2141
Please let us know what's inside your `.bowerrc` located at `/Users/astm/.bowerrc`, the error indicates that there is something wrong with it. You could also try removing it.

[2016-01-09 08:06] BenMann commented on #2067
Here's a super reduced test-case:
1) `bower cache clean`
2) `bower install` the following:
[code]
If you follow the installation of `jquery` and `jQuery` through the output below, you notice that the right `jquery` is installed first, after which bower resolves the dependency (`jQuery`) that is listed in `angular-ts-select2`. They are also installed in that order.

[code]
We also see that `jQuery`

[2016-01-09 09:19] PauliusLabanauskis commented on #2121
It is true that it has something to do with Windows shell as it works fine with Cygwin, however probably the defaults in Bower might not be as intuitive because when not specifying any version, for instance, the latest version of the package is pulled and the major version update indicator '~' is set. Usually the default behavior in package managers is updating packages by their minor version unle

[2016-01-09 09:19] #2121 closed

[2016-01-09 10:30] KonradKiss commented on #2067
Great job tracking it this far! Thanks a lot for sharing the simpler repro case. I'll let you know when I find something new.

[2016-01-09 11:30] BenMann commented on #2067
I'm pretty sure I have just figured out why the first one fails too! it's not `jquery` vs `jQuery` but `jquery.serialscroll` vs. `jquery.serialScroll` in this case. The package `jquery-parallax` is requiring it in camel-case, while the original `bower.json` that we install is using it all lower-case.
[code]

This is also mirrored during installation (see ">>"):

[code]
So that solves the question

[2016-01-09 11:36] BenMann commented on #2135
I'm going to reference [this issue](https://github.com/bower/bower/issues/2067) here, because :one: is actually even worse, if those packages are named identically, but one is lower-case and the other camel-case.

[2016-01-09 13:26] AstmDesign commented on #2141
After I opened it on vim Editor

[code]

I found this only inside it

[code]

[2016-01-09 14:11] BenMann commented on #2141
If you didn't accidentially cut it, there is a "di" missing >> `directory": "public/lib"`. Can you try removing the file entirely, if that's not the case?

[2016-01-09 16:26] AstmDesign commented on #2141
@BenMann  After I removed it and the **.bowerrc** become empty
the bower now worked with me :+1:  :)
and I installed the **ngCordova**
Thank you

[2016-01-09 16:44] BenMann commented on #2141
Glad it worked! Closing :end:

[2016-01-09 16:44] #2141 closed

[2016-01-10 14:53] megha-n-bodke commented on #866
Adding angular entry to "resolutions" in angular worked for me.
@robfletcher Thanks for  sharing solution!

[2016-01-10 16:00] sheerun commented on #2135
Maybe in Bower 2.0 we can ignore registry aliases and use name from bower.json

[2016-01-10 19:02] cataquil commented on #2080
well you don't really have to uninstall/reinstall, you can just use the Win CMD.
do you bower init then switch back to MinW64.
It would be great it it worked in MinTTY because that give you lots of nice unix
programs that are useful for node and js dev, getting code from git, and docker.
Not to mention docker.

[2016-01-10 19:03] cataquil commented on #1942
Got the same issue.  Would be better not to have to switch terminals.  On Windows its crazy to get all this stuff to work you got CMD, MingW64, Powershell and whatever else.

[2016-01-10 19:19] cataquil commented on #802
do this from the run command
cmd.exe /C "C:\Program Files\Git\bin\bash.exe" --login -i
then bower init will work and you can do everything in minw64, mintty, or git-bash whatever it is called.

[2016-01-10 19:20] cataquil commented on #2080
cmd.exe /C "C:\Program Files\Git\bin\bash.exe" --login -i

[2016-01-10 19:20] cataquil commented on #1942
cmd.exe /C "C:\Program Files\Git\bin\bash.exe" --login -i

[2016-01-11 01:47] robdodson opened #2144 "Should bower install default to caret?"
npm defaults to the caret when installing a package with the `--save` flag.

By not defaulting to a caret it means users who install `foo#~1.2.3` will not get minor version updates.

If a user would like to force the system to install with a caret from the command line then they'll encounter weird quirks if they're on windows. https://github.com/bower/bower/issues/2121#issuecomment-169873924

It s

[2016-01-11 12:44] bownie commented on #467
Adding the registry entry in addition to the proxies led to less failures and eventually working so many thanks @gaving

[2016-01-12 08:52] HassanMehmood92 commented on #1899
Same Issue --verbose flag doesn't do anything
![image](https://cloud.githubusercontent.com/assets/13550768/12258873/b8a51306-b933-11e5-8a08-bbe6e51cb54d.png)

[2016-01-12 08:52] #1899 closed

[2016-01-12 15:11] rmaziarka opened #2146 "Dependencies in bundledDependencies cause Windows too long path error."
Hi guys,

We have the same error like @herby had here: https://github.com/bower/bower/pull/1948

Packing all dependencies in bundleDependencies in package.json creates path that exceeds maximum path length in Windows system:

 273 letters. This is working properly in version 1.6.6, before *1.6.7 - Bundless all the dependencies again* https://github.com/bower/bower/blob/master/CHANGELOG.md happened

[2016-01-12 21:19] #2144 closed

[2016-01-13 12:11] Znarkus opened #2147 "Resolve/find correct version of dep with ~ range"
Tried to install angular-sanitize by specifying version ~1.4.0.

[code]

We have Angular 1.4.7 installed.

If I specify version 1.4.7 for angular-sanitize it works.

[code]

But shouldn't `bower install angular-sanitize#~1.4.0` work as well?

[code]

Relevant sections from our bower.json:

[code]

[code]

[code]

[2016-01-13 13:33] BenMann commented on #2147
I'm just gonna put this out there: It's @samccone's fault! — He doesn't like the tilde :fire::fire:
Fun aside though: This should actually work and I cannot replicate it. It looks like a version conflict and we should be able to resolve it though. As a first try, this might work for you: https://github.com/bower/bower/issues/866. If it doesn't let me know. Also, can you share more/all of your `bow

[2016-01-13 13:46] Znarkus commented on #2147
[code]

Stripped out two private deps with these bower.json:

[code]

[code]

By trying #866 do you mean using resolve to lock sanitizer to 1.4.7?

[2016-01-13 14:08] BenMann commented on #2147
I'd try `--force-latest` first. There are most likely mulitple dependencies that have `angular` as a dependency and there's the actual conflict. I'm a little short of time right now but I can take a closer look tomorrow if it's not resolved by then.

[2016-01-13 15:22] Znarkus commented on #2147
`--force-latest` worked and made these changes to bower.json.

[code]

[2016-01-13 17:11] davidrhoderick commented on #1897
What is the status of this?  I am trying to use jQuery, which is a dependency for Paper, but it needs to appear before Angular so as not to cause conflicts.  Is there still no way to custom order dependencies?

[2016-01-13 21:01] BenMann commented on #2147
So if that's an acceptable solution, I'll go ahead and close.
Let me know if you need further help or anything. :v:

[2016-01-13 21:01] #2147 closed

[2016-01-13 21:13] BenMann commented on #2136
Just my two cents: I think pluggable resolvers are the way to go. I would not go ahead and include this into Bower by default. In general we might go with more resolvers to fulfill different needs in the future. Writing somthing like this as a pluggable resolver sounds like a great idea, as there are probably more people with that requirement. Keep us updated on this?

[2016-01-13 21:17] faceleg commented on #2136
Absolute +1 that this is required, and +1 to making it pluggable.

Assuming there is community agreement, there could be a PR to implement "pluggability" features into bower, with the plugins created as separate repos.

[2016-01-14 05:43] kasajian commented on #2146
I have some additional information that I hope will help, and may have a proposal for a simple fix.

I have project and have the following dependencies in my package.json:
    "bower": "1.7.2",
    "del": "^2.2.0",
    "gulp": "^3.9.0",
    "gulp-foreach": "^0.1.0",
    "gulp-plumber": "^1.0.1",
    "gulp-rename": "^1.2.2",
    "gulp-sourcemaps": "^1.6.0",
    "gulp-typescript": "^2.10.0",
    "gu

[2016-01-14 07:36] Znarkus commented on #2147
I'll try that in the future, but don't know why I need to `--force-latest`.

[2016-01-14 17:06] BenMann commented on #2147
As long as th eright version is now persisted in your resolutions section, you're good. The main problem is that the different dependencies specified different version of angular as their dependency. And in that case you need to find the right one that works for all of them. In your case that seems to be `>=1.3.x`. This might be dictated by `angular-toastr`:

[code]

[2016-01-14 17:26] tripathysa opened #2148 "Always get bower ECMDERR: exit code of #128 Host key verification failed"
Get error while I install: bower install
bower ECMDERR       Failed to execute "git ls-remote --tags --heads git@github.i
u.edu:iucomm/bower-framework.git", exit code of #128 Host key verification faile
d. fatal: Could not read from remote repository.  Please make sure you have the
correct access rights and the repository exists.

I have alreadyrun the command git config --global url."https://".in

[2016-01-14 17:58] BenMann commented on #2148
One thing I noticed is that the url looks strage `... github.iu ...` but that may be a typo?
Can you share your `bower.json`?

[2016-01-14 19:55] tripathysa commented on #2148
my bower.json looks like
{
  "name": "##",
  "version": "1.0.0",
  "dependencies": {},
  "devDependencies": {
    "##": "git@github.iu.edu:##/bower-framework.git"
  }
}

Github.iu.edu is an enterprise specific github domain for my university and everybody has specific credentials for that.

[2016-01-14 22:01] jacopotarantino commented on #1551
Ping. This has been breaking my builds really badly and the inconsistent presentation of the bug has cost a few developers about 2 days of time so far. Would really love to see a fix.

[2016-01-15 07:49] faceleg commented on #2105
Closing due to inactivity

[2016-01-15 07:49] #2105 closed

[2016-01-15 16:21] pwang2 commented on #2143
bower link is supposed to do this work. A general user scenario is to test package you are still developing.

Or if you are good with command line, just use ln -sf (mklink in windows) as you wish.  If private package folder name if the same as your bower.json 's name. it is equivalent.

local package is not common in my experience.  It fits in the bower's resolver abstraction. You could use for su

[2016-01-15 16:25] pwang2 commented on #2148
below **git@domain:user/pkg** is NOT valid protocol.  try add git:// or https:// if you support them..

[code]

[2016-01-16 18:44] sheerun commented on #2148
check your ssh keys. it says 'Host key verification failed'

bower should succeed as long as soon as "git ls-remote --tags --heads git@github.iu.edu:iucomm/bower-framework.git" command works in your shell.

[2016-01-16 18:44] #2148 closed

[2016-01-17 17:23] AlexanderSuvorov commented on #802
Thanks a lot cataquil. But it's still half desicion.

[2016-01-17 22:09] dschwank commented on #2136
Hey,

sorry for the late response - and thanks for your comments!
The idea with a "pluggable resolver" is great. But that would mean that I would have to "rewrite" / "copy" the general behaviours of the GIT / SVN resolvers. Would be okay for me, because then I could add some other features to the SVN resolver.

So if (at least) you two agree to it, I will create add one / two new resolvers to mana

[2016-01-18 11:36] sheerun commented on #2136
Yes, we're OK with it :) Actually I'm going to ask our contributors to re-write current resolvers in form of pluggable resolvers on https://github.com/bower/bower-next

[2016-01-18 12:43] pjmolina commented on #2018
Security dependencies [automated analysis] (https://david-dm.org/bower/bower).
- Semver
- Handlebars

[2016-01-18 16:48] shehi commented on #1520
:+1:

[2016-01-19 15:11] maxday opened #2149 "Add an option to fail if a manual resolving action is needed"
Hi,

What do you think about adding an option to mark bower install as a failure if bower is unable to find a suitable version for a component.

This could prevent a job in Jenkins (or other automated script) from being blocked, waiting indefinitley for an answer.

Something live : bower install --failOnResolve ?

I would be happy to contribute with a PR.

[2016-01-19 15:13] sheerun commented on #2149
--config.interactive=false should work

[2016-01-19 15:13] sheerun commented on #2149
also you can set `CI` env variable to `1`

[2016-01-19 15:13] #2149 closed

[2016-01-19 15:15] maxday commented on #2149
Thanks !

[2016-01-19 20:04] samccone commented on #1102
Can everyone on the thread make sure to treat other people working on this with respect, I am pretty ashamed at the level of discourse on this issue.

I know it is easy to talk down and shame people, but honest mistakes are made in software.

Unless you are going to help please try and be positive, and thank @sheerun for donating his time to fix this.

Thanks you @sheerun !!!

[2016-01-19 20:21] sheerun commented on #1102
We need to wait for @npm to publish per-version download counts (it's extremely useful statistic for any package owner, it's shame it's not available), but otherwise http://bower.io/stats is updated and #1102 ready to merge.

[2016-01-19 21:30] sheerun commented on #2118
Does fs-write-steam-atomic work again?

[2016-01-20 06:02] BenMann commented on #2118
[This comment](https://github.com/bower/bower/pull/2125#issuecomment-170637786) suggests it does. I'd give it a go with 1.0.8.

[2016-01-20 11:50] graingert opened #2151 "JS urls without ".js" a the end of the path are saved as "index""
[code]

results in:

[code]

rather than:

[code]

[2016-01-20 11:52] graingert commented on #2151
Ah this would be fixed by: https://github.com/bower/bower/issues/561#issuecomment-46561041

I could set:
[code]

[2016-01-20 12:25] ceoaliongroo commented on #1422
I thinks this will be resolve with this PR
https://github.com/bower/json/pull/30

I'll close for now.

[2016-01-20 12:25] #1422 closed

[2016-01-20 12:35] #1102 closed

[2016-01-20 18:16] sheerun commented on #102
1.7.3 should work. If not, please open create a failing test and send PR with it

[2016-01-20 18:16] #102 closed

[2016-01-20 18:22] sheerun commented on #561
Now you can create [pluggable resolver](http://bower.io/docs/pluggable-resolvers/) to achieve it.

I'd still consider accepting a PR for this feature.

[2016-01-20 18:22] #561 closed

[2016-01-20 20:09] sebastienbonami opened #2152 "Error with 1.7.3 - Cannot find module 'optimist'"
Only with 1.7.3, I simply execute the "bower" command and I have the following error:

<pre>
module.js:340
    throw err;
          ^
Error: Cannot find module 'optimist'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object.<anonymous> (/home/test/project/n

[2016-01-20 21:09] sheerun commented on #2152
What is your node version and npm version?

[2016-01-20 21:12] sheerun commented on #2152
And operating system

[2016-01-20 21:55] natalan commented on #2152
Just got the same error on my Jenkins box as @sebastienbonami posted above.
[code]

Downgraded back to Bower v1.7.1 and it works again.

[2016-01-20 22:02] sebastienbonami commented on #2152
Same versions on my side and I use Ubuntu Server 14.04.2 LTS.

[2016-01-20 22:18] solomongifford commented on #2152
Happening here as well.

#node -v
v0.10.36
#npm -v
1.3.6

[2016-01-21 00:28] scottlaplante commented on #2152
I was having the same issue for about 4 hours today, but just now with the same steps, I did not have the issue. Was this fixed?

[2016-01-21 00:51] ianabc commented on #2152
@scottlaplante, the developers have withdrawn 1.7.3 for the moment, so unless you are explicitly asking for that version, you will probably be getting 1.7.2 which doesn't trigger the bug.

[2016-01-21 09:31] frontenddeveloping commented on #339
Use cygwin console:

$ bower install kendo-ui-core
bower kendo-ui-core#*       not-cached git://github.com/kendo-labs/bower-kendo-ui.git#*
bower kendo-ui-core#*          resolve git://github.com/kendo-labs/bower-kendo-ui.git#*
bower kendo-ui-core#*           ENOENT spawn git ENOENT

Error: spawn git ENOENT
    at exports._errnoException (util.js:856:11)
    at Process.ChildProcess._handle.onexit (

[2016-01-21 10:20] sheerun commented on #2152
Thank you for reporting this. I've unpublished bower 1.7.3 until we resolve this issue.

[2016-01-21 10:51] BenMann commented on #2152
Three things I'd like to try (not really tackling the underlying issue, but might fix):
1) What happens if you cd to the directory where bower sits and just `npm install`?
2) `npm cache clean` + `rm -rf node_modules/` + `npm install`
3) update npm (`npm update npm -g`)

[2016-01-21 10:53] sheerun commented on #2152
The issue was with published version of bower@1.7.3 that I unpublished, but now that I published exactly the same bower-prerelease@1.7.3, the problem is gone..

[2016-01-21 11:19] rajzshkr commented on #2151
wip

[2016-01-21 11:22] graingert commented on #2151
@rajzshkr ?

[2016-01-21 13:21] sheerun commented on #2152
I've published bower again, but under beta tag..

Could you all test this version if it works with different npm / node / platforms?

`npm install -g bower@beta`

[2016-01-21 13:47] #1963 closed

[2016-01-21 14:05] sheerun commented on #2152
I've submitted a bug report to npm:
https://github.com/npm/npm/issues/11227

[2016-01-21 14:49] newelement commented on #2152
It installs in my user dir.

➜  Sites  npm install -g bower@beta
/Users/<user>/npm/bin/bower -> /Users/<user>/npm/lib/node_modules/bower/bin/bower
bower@1.7.2 /Users/<user>/npm/lib/node_modules/bower
└── semver-utils@1.1.1

[2016-01-21 15:01] sheerun commented on #2152
what if you global install some other library?

[2016-01-21 15:08] fabest commented on #1947
I have same error, but i can't update managers, help me please =(

'''
bower error         Unable to perform highlight. The code contained syntax errors: Line 4: Unexpected token ILLEGAL

Stack trace:
Error: Unable to perform highlight. The code contained syntax errors: Line 4: Unexpected token ILLEGAL
    at throwError (C:\Users\Beard\AppData\Roaming\npm\node_modules\bower\node_modules\cardinal\n

[2016-01-21 15:15] newelement commented on #2152
Odd npm is installing everything in my user dir.

➜  Sites  which npm
/usr/local/bin/npm
➜  Sites  which node
/usr/local/bin/node
➜  Sites  node -v
v4.2.5
➜  Sites  npm -v
2.14.12
➜  Sites

[2016-01-21 15:44] fabest opened #2153 "Error with "bower init""
For last stage of initialization i've catching error. A can't solve it even when updating npm, node and bower to latest version. Help me please =(
Trying "bower init" after "npm init"
[code]

[2016-01-21 16:08] sheerun commented on #2152
Then it isn't bower's issue, sorry.

[2016-01-21 18:51] sheerun commented on #2153
Please paste your bower.json and package.json

[2016-01-21 23:21] grug opened #2154 "bower.herokuapp.com down?"
Hey there,

It looks like bower.herokuapp.com is down. I can't ping it and running `bower install` on a project from 3 different networks results in `bower ENOTFOUND     Request to https://bower.herokuapp.com/packages/angular failed: getaddrinfo ENOTFOUND bower.herokuapp.com`

Is anyone able to shed some light on this?

Thanks,
Dave

[2016-01-21 23:28] sheerun commented on #2154
works for me

[2016-01-22 00:23] grug commented on #2154
Works for you, must work for everyone!

[2016-01-22 00:23] #2154 closed

[2016-01-22 01:31] rajzshkr commented on #2151
This issue can be achieved by using pluggable resolvers. But Adam ( @sheerun ) is still accepting a PR for this. So I wil be fixing it shortly.

[2016-01-22 03:16] fabest commented on #2153
package.json
[code]
With this error bower.jason isn't creating

[2016-01-22 06:41] sheerun commented on #2153
your description contains zero bytes. remove them and you should be allright

[2016-01-22 07:26] BenMann commented on #2152
ping @sebastienbonami @natalan @ianabc can you also confirm?
(It's working for us so far)

[2016-01-22 10:52] graingert commented on #2151
@rajzshkr ah thanks, that would be super

[2016-01-22 18:27] fabest commented on #2153
Thank you sheerun! It's helped

[2016-01-22 20:18] BenMann commented on #2153
Alright, closing. :tada:

[2016-01-22 20:18] #2153 closed

[2016-01-23 01:12] ianabc commented on #2152
I'm not sure if I'm testing exactly what you wanted, but I fired up a clean centos/7 install, added EPEL and the version of npm from EPEL (1.3.6). Then I tried bower@1.7.2, bower-prerelease@1.7.3 and bower@beta (1.7.4)  here are the results

1.7.2 works without a problem
[code]

The prerelease 1.7.3 fails as before. I think this is different from what @sheerun saw in https://github.com/npm/npm/iss

[2016-01-23 02:41] pencilcheck opened #2155 "dependency resolution is not working for angular and angularjs"
Even though their info is the same if you do `bower info` they are somehow different when running bower install, and I have two angular folders, one in angular and the other one in angularjs.

Since I use gulp to automate adding the scripts from bower components, this is causing problems where angular will get loads twice in the app.

Is this a well known bug? And how do I fix this besides contact

[2016-01-23 07:53] faceleg commented on #2155
Could you add the bower JSON that causes this?

[2016-01-23 08:49] sheerun commented on #2155
I'm afraid for now the only way to solve it is indeed to contact author of package.

We're working to solve this issue in bower 2.0, but I'll break compatibility anyway.

[2016-01-23 08:49] #2155 closed

[2016-01-23 10:59] kikonen opened #2156 "Unexpected resolving of git repository tag"
I was trying to do this

bower.json
[code]

I was expecting to get repository contents at tag "4.0.0-npm-packages". However, instead of that I seemingly ended up with repository contents at branch "npm-packages". Quickly thinking I'm not sure what goes wrong with that.

Context:
-  https://github.com/kikonen/bower_vendor/issues/8

[2016-01-23 11:06] kikonen commented on #2156
=> duh! my own mistake

[2016-01-23 11:06] #2156 closed

[2016-01-24 18:38] sebastienbonami commented on #2152
I have the exact same results as @ianabc on Ubuntu 14.04 with npm 1.3.10 and node v0.10.25.

bower@1.7.2 works well
bower-prerelease@1.7.3 throws the error
bower@beta (1.7.4) also throws the error

@sheerun Running *npm install -g bower@beta* doesn't throw any error. Executing *bower* does.

[2016-01-24 21:13] calidion commented on #1520
I don't think the mixing of frontend and backend into one package management will make life any easier.
bower still has its value to go.
I think time will prove.
if i want to use bootstrap in my frontend project, and i don't need bootstrap been installed when i run `npm install` to start my node project.

they are totally different things.

[2016-01-25 01:27] sheerun commented on #2152
@sebastienbonami It seems that all npm versions before 1.4.7 exhibit this issue:
https://travis-ci.org/sheerun/bower-test/builds/104495526

[2016-01-25 06:24] AdamPflug commented on #2146
This prevents deployment of apps using bower on Azure :( Agree that using bundleDependencies when the paths are that deep is probably wrong.

[2016-01-25 07:04] allwinac commented on #525
It is been a very long time. but when I check this issue there is no solution given  for Jenkins on windows.  In my case I have Jenkins and Jenkins Slave installed on Windows Servers. I get the same issue with bower install
bower install jquery
bower jquery#*              not-cached git://github.com/jquery/jquery-dist.git#*
bower jquery#*                 resolve git://github.com/jquery/jquery-dist

[2016-01-25 08:45] rmaziarka commented on #2146
I have node 3.5.3, so the problem is in bundleDependencies.

[2016-01-25 09:57] BenMann commented on #2152
I'm still thinking if writing all the `bundledDependencies` as direct dependencies is an option. I know that would make our `package.json` extremely long and it's a workaround at best but the problem seems to occur again in the early 3.x versions (probably for different reasons?).

@sheerun would you consider that approach? Are you currently looking into other mistakes on our end that might cause

[2016-01-25 17:13] natalan commented on #2152
@BenMann it's better late than never:

[code]

And OS:
[code]

#### bower@beta: (still issues)
[code]

#### bower-prerelease@1.7.3 (still issues)
[code]
#### bower@1.7.2 (no issues)
[code]

[2016-01-25 18:38] sheerun commented on #2152
@natalan Could you try bower-prerelease@1.7.7 ?

[2016-01-25 21:42] sebastienbonami commented on #2152
@sheerun I just tried bower-prerelease@1.7.7 (same setup as @natalan) and no issue! :smile:

[2016-01-26 06:05] AdamPflug commented on #2146
I think he meant to bundle dependencies with npm v3.0 so that the resulting structure was flat.

[2016-01-26 06:36] sheerun commented on #2146
@AdamPflug I made preview of bower bundled this way. Could you test it?

`npm install -g bower-prerelease@1.7.7`

[2016-01-26 16:02] natalan commented on #2152
@sheerun, Yes the bower-prerelease works as expected:

[code]

and `npm list -g` also reports no issues (ignore my `grunt-cli`):
[code]

[2016-01-26 18:22] ianabc commented on #2152
I can confirm, running with npm 1.3.6 (from CentOS EPEL) and bower-prerelease@1.7.7 everything works again for me.

[2016-01-26 19:29] #2152 closed

[2016-01-26 19:34] bmlyon commented on #1229
Ran bower init for the first time in my life. I have no idea what this question is asking. I think it is asking what kind of tech I'm using, but it's not clear that there is a "none of the above" option. I found a thread on Stack Overflow which said that I should default to globals, which kind of makes sense.

[2016-01-26 21:45] sheerun commented on #2146
It should be fixed in bower 1.7.5

[2016-01-26 21:45] #2146 closed

[2016-01-26 21:45] heavybeard commented on #802
I have the same problem :cry:

[2016-01-26 21:46] #2129 closed

[2016-01-26 23:37] kflorence opened #2157 "Extra "lib" folder on npm install"
This just started happening on our build server and I was able to reproduce it locally with `bower@1.7.5`. There seems to be an extra "lib" folder in the node_modules folder now, so for example the bin is located at `lib/bin/bower` instead of `bin/bower` -- unsure if this is a bug or not, but `lib/lib` seems odd.

[2016-01-27 00:11] sheerun commented on #2157
It's on purpose. Is it an issue for you?

[2016-01-27 00:21] bornholtz commented on #2157
This breaks https://github.com/eirslett/frontend-maven-plugin

[2016-01-27 00:25] kflorence commented on #2157
It was an issue, but I've switched from using hardcoded bin path to using `node_module/.bin/bower` which fixes the problem for me. Just be aware that changing the bin path is not backwards compatible so it may break things for other people as well.

[2016-01-27 00:27] lucy5533 commented on #2157
Also breaks https://www.npmjs.com/package/grunt-bower-install-simple

[2016-01-27 02:58] sinneduy opened #2158 "1.7.5 no longer respects --allow-root"
When passing in --allow-root for 1.7.5, nothing happens now.

On 1.7.5:

[code]

On 1.7.2:

[code]

I'm on ubuntu 14.04

[2016-01-27 09:34] vijayk commented on #2157
Yes It break zeppelin as well.
We are using maven frontend plugin and it is expecting bower binary at "node_modules/bin/bower."

Please see this: https://issues.apache.org/jira/browse/ZEPPELIN-634

We have moved to bower:1.7.2 to fix zeppelin issue.

[2016-01-27 09:45] sheerun commented on #2157
I'll create an alias for binary where it was..

[2016-01-27 09:46] vijayk commented on #2157
Thanks a lot @sheerun, it would definitely solve our purpose.

[2016-01-27 09:47] bentolor opened #2159 "npm Package for Bower 1.7.5: Missing node_modules/bower/bin/bower"
To be able to use individual bower version per project we do not install bower globally, but locally (effectively using `npm install` with bowe in the `package.json` of the project instead of doing a `npm install -g bower`).

Bower 1.7.5 breaks all builds as it no longer ships the binary `node_modules/bower/bin/bower`

[2016-01-27 09:50] cyt-rsd commented on #2159
Same for me. Its under 'lib' now...

[2016-01-27 09:56] vijayk commented on #2159
Please see #2157

[2016-01-27 10:00] bentolor commented on #2159
Money quote:

So if this is the npm-way to linking to binaries I'm okay with the change in general.

But having a deprecation warning in a wrapper file for transition and **not changing this in a point release** would be appreciated.

[2016-01-27 10:04] bentolor commented on #2157
Having a deprecation warning in a wrapper file for transition and **not changing this in a point release** in the future would be appreciated.

[2016-01-27 10:05] bentolor commented on #2159
Thanks @vijayk and @cyt-rsd for the fast feedback. This really helped me to sort out the issue far quicker than I could have done.

[2016-01-27 10:07] derTobsch commented on #2157
how could it be that a bugfix upgrade breaks so much stuff? This could be a hint that we should not use bower anymore...

[2016-01-27 10:17] sheerun commented on #2157
It's breaking for you because you're using bower binaries directly, instead using npm aliases. If you used binaries from `npm bin --global` or `npm bin` the path wouldn't change.

I understand this change affects people using bower this way, so I will create an alias anyway.

[2016-01-27 10:27] bentolor commented on #2157
@sheerun Yes, but nobody told us or others.

For example the people at Atlassian are using exactly this path as Default on integrating Bower as task into their Bamboo CI. So all Bamboo CI Plans using Bower are failing *right now*. Further more I'd never have understand what it is supposed to be.

General rule thumb of rule: If you have ever exposed _anything_ in your libraries _it will eventually

[2016-01-27 10:43] BenMann commented on #2159
Closing in favor of https://github.com/bower/bower/issues/2157.

[2016-01-27 10:43] #2159 closed

[2016-01-27 10:52] derTobsch commented on #2157
@bentolor :+1:

[2016-01-27 11:04] sheerun commented on #2157
We're really careful to not introduce any backward-incompatibilities and the process is exactly like you describe for features that are documented to be public. For these that aren't, we release patches as soon as possible.

Besides, we can't notify you not use bower binaries directly, because there's no way to detect it.

I've released bower 1.7.6 that should fix your issue.

[2016-01-27 11:04] #2157 closed

[2016-01-27 11:13] arturparkhisenko commented on #1808
@ianvonholt i got same issue on Win10/node5.5.0/bower1.7.5
When i run `npm list -g --depth=0` i got this:
[code]
Fixed in 1.7.6 (tested).

[2016-01-27 11:38] vernak2539 opened #2160 "v1.7.5 has removed renderers folder"
In the latest bower release the `lib/renderers` folder was removed.

Is there docs for this change so it can be updated in modules which used to use the renderers? And, why was it removed. Just curious?

[2016-01-27 11:49] sheerun commented on #2160
It wasn't removed. Just moved to sub-directory (lib).

It's because we needed to embed `node_modules` into bower to lock dependencies. If we included it in root directory, earlier versions of npm just removed them. The result is this issue: https://github.com/bower/bower/issues/2152

We decided to wrap all files in extra directory and put node_modules there, so npm leaves them alone.

`lib/rendere

[2016-01-27 11:52] vernak2539 commented on #2160
@sheerun okay great. Thanks for the update. For some reason I didn't seem them in that folder, but now they're there. Thanks for the update. That all makes sense. Thanks for the great module!

[2016-01-27 11:52] #2160 closed

[2016-01-27 12:14] bentolor commented on #2157
Thank you @sheerun for the fast fix!

[2016-01-27 12:38] derTobsch commented on #2157
Thanks!

[2016-01-27 12:42] derTobsch commented on #2157
...but still failing, because "bower/lib/renderers/StandardRenderer" is missing.

[2016-01-27 12:53] BenMann commented on #2157
@derTobsch basically this: https://github.com/bower/bower/issues/2160. It also explains why the `lib` in the first place..

[2016-01-27 13:01] sheerun commented on #2157
Great... I can't assume people are not depending on any random file in bower. I'll try to figure out how to preserve all the paths while still embedding node_modules.. @derTobsch What package is failing for you?

[2016-01-27 13:04] derTobsch commented on #2157
@sheerun https://www.npmjs.com/package/grunt-bower-install-simple, this dies depend on "bower/lib/renderers/StandardRenderer" i added a pull request for that module and informed the developers. Let's see what they will do. I forked that package and will use my branch with the fix until they fix it.

[2016-01-27 13:39] sheerun commented on #2158
I can't reproduce: https://travis-ci.org/sheerun/bower-test

[2016-01-27 17:24] sheerun commented on #2160
I've released bower 1.7.7 that should have all lib files back at their places

[2016-01-27 17:25] sheerun commented on #2157
@derTobsch I've released bower 1.7.7 with almost all paths back at their places.

[2016-01-27 17:49] derTobsch commented on #2157
@sheerun that fixed our problems. thanks

[2016-01-27 18:23] #2158 closed

[2016-01-27 19:53] avdd commented on #1982
What?

[2016-01-27 22:10] sheerun commented on #1982
@prappo Why did you close it?

[2016-01-27 22:13] kmcmichael-twist commented on #2067
I'm getting this same error. After bower install, the contents of bower_components/jquery/.bower.json are munged (error on bolded line):

{
  "name": "jQuery",
  "homepage": "https://github.com/jquery/jquery",
  "version": "2.2.0",
  "_release": "2.2.0",
  "_resolution": {
    "type": "version",
    "tag": "2.2.0",
    "commit": "33b548c8e3d43b2ebdfb129fd8086a3b0c905919"
  },
  "_source": "git://g

[2016-01-28 00:20] benallfree commented on #1520
I think @calidion is correct, it's been two years since NPM started talking about ecosystems and it must be a taller order than the community anticipated. Bower is ready now, available now, and perfect for representing the frontend ecosystem :) The [pain points](http://blog.npmjs.org/post/101775448305/npm-and-front-end-packaging) highlighted earlier are very accurate.

[2016-01-28 15:12] leonadler commented on #919
For those looking at this issue in the future (aka 2016+), the wiki entry is now under [Troubleshooting](https://github.com/bower/bower/wiki/Troubleshooting#how-can-i-use-bower-with-only-https-urls-and-not-git).

[2016-01-29 06:25] wenqingyu commented on #1456
Is there a similar way to get authentication with public key instead of name / password method?

[2016-01-29 21:18] syradium commented on #1351
Until PR is merged you can run bower command specifying `GIT_DIR` env variable. Like:
[code]

[2016-01-30 19:04] cataquil commented on #802
Well I got notified of an upgrade bower to 1.7.7 (I was on .3 or .4 before)
and it looks like 'bower install' works from default git-bash.exe startup.

I am not sure if it was working before this upgrade, I was switching all the windows shells I use
to be managed from cmder ...(when I have to use a windows machine)

Anyone else can confirm this?

[2016-01-31 20:52] Edymov opened #2162 "Bower ETIMEDOUT"
Bower i, bower search e.t.c does not work. Operations fail with ETIMEDOUT error
![](https://cloud.githubusercontent.com/assets/8273881/12704880/aa916e1c-c875-11e5-9059-20efb4299ac4.png)

bower.herokuapp.com does not ping. 100% packet loss

[2016-02-01 06:46] cloudtronics commented on #1275
with v1.7.2  :  i can do :
 bower install ../mycompo --save
but if I change the files in mycompo folder and running either install or update even w/o --force flag the updated files are not pulled to the working app.. Pls help . Thanks

[2016-02-01 10:06] SubZero-0 commented on #1451
+1 :)

[2016-02-01 10:14] SubZero-0 commented on #1451
+1

[2016-02-01 16:53] steve-todorov commented on #802
I'm having this problem with bower in cygwin. This used to work some time ago, but for some reason it stopped after upgrading to the latest version.

[2016-02-01 23:19] wrumsby commented on #1919
Is fixing that as simple as trying something like trying to require the resolver and if that fails resolve it relative to `cwd`?

(Having said that I can't immediately see the code that's loading these resolvers.)

[2016-02-01 23:26] sheerun commented on #1919
It's line 60 of resolverFactory.js (simple require call). I think your approach would fix it (require `${cwd}/node_modules/${resolverName}` and then fallback to normal require for global resolvers).

[2016-02-02 03:48] wrumsby commented on #2128
I'm going to try to fix #1919 so that this is no longer the case.

[2016-02-02 04:43] enure commented on #1816
One option would be to install https://github.com/Hacklone/private-bower on your corporate network. I think so long as the packages are cached by private bower it shouldn't need to access external resources.

[2016-02-02 08:23] Edymov commented on #2162
Searhing on the http://bower.io/search/ does not work too

[2016-02-02 08:59] kajnet commented on #1942
Had the same problem using Bash.
Tried it with PowerShell and the error was gone.

[2016-02-02 10:00] BenMann commented on #2162
Can't replicate. Can you share more about your setup? Are you behind a proxy or firewall?

[2016-02-02 10:04] Edymov commented on #2162
Bower 1.7.7, npm 3.3.6, node.js 5.0, win 8.1. Neither Firewall nor proxy.

[2016-02-02 15:30] oliviermadre commented on #2067
same as @kmcmichael-twist here ! I've got exactly the same fucked up .bower.json file :(

[2016-02-02 19:35] Wasmoo commented on #467
At my company, we the retry every now and then, and I have no idea why. It seems to go away after an hour. I'm not sure if it's our side or theirs.

[2016-02-02 21:58] dimkanewtown commented on #2101
For those who find this thread because of issues during Visual Studio Online builds, VSO has pre-installed bower version 1.7.1 (as of time of posting) which has this issue. Make sure to either run "npm install bower -g" or specify bower as a dependency in the npm config file for the project (with version > 1.7.1).

[2016-02-03 20:08] Edymov commented on #2162
It was a net problem. netsh int ip reset fixed the problem.

[2016-02-04 06:32] BenMann commented on #2162
Glad you figured it out, closing! :end:

[2016-02-04 06:32] #2162 closed

[2016-02-04 08:02] BeierZhu commented on #1645
@amalahussein thanks, it works

[2016-02-04 15:59] kirschre opened #2164 "Programmatically download bower artifacts without dependencies"
Hey guys,

I'm working on a project where I need to programmatically download and save bower artifacts from a git repository at a tag.

Given a repository `https://github.com/foo/bar.git` and tag `1.2.3`, I want to kick off `bower install https://github.com/foo/bar.git#1.2.3`, but ignore any dependencies the target package has. Additionally, I would like to provide a folder to install directly to

[2016-02-04 17:04] kbanashek commented on #1899
Did you ever resolve this issue?

[2016-02-04 19:33] bheiskell opened #2165 "Display deviation from defaults when using verbose flag"
It would be useful when troubleshooting to show the deviations from default configuration made by bowerrc files when running with the verbosity flag on.

[2016-02-04 19:35] bbatha commented on #2165
:+1:

[2016-02-04 23:04] mderoche opened #2166 "Bower link is installing dependencies"
I am seeing an issue where running `bower link` is seemingly running `bower install` as well.  Wondering if this is intentional.

Scenario:
- Three Bower components: one main application and two sub modules (SM1, SM2)
- Using `bower link` on both sub modules
- Using `bower link SM1` and `bower link SM2` to symlink the submodules into the main application
- The bower.json for the main application i

[2016-02-04 23:55] dlee commented on #1033
I am also running into this issue when running `bower install` in a git alias.

I think there might be a solution in `git` itself for this: http://article.gmane.org/gmane.comp.version-control.git/281960

[2016-02-05 12:35] larssn commented on #1229
Same here, ran it for the first time in my life - no idea what anything means, and having a hard time finding info on it. This is one of the top hits in google, ironically enough.

Not sure if I need any of it.

[2016-02-05 14:14] ShyykoSerhiy commented on #2166
From what I see, it is intentional
https://github.com/bower/bower/blob/671c23ad50550bc72fde2329d9e13fae0b71667d/lib/commands/link.js#L61

[2016-02-05 15:04] sheerun commented on #2164
You can use `directory` and `ignoredDependencies` fields in `.bowerrc`.

Currently there's no way to ignore all the dependencies of some package, you need to list explicitly all of them.

[2016-02-05 15:56] mderoche commented on #2166
I interpreted that comment as it was installing the dependencies of the package being linked, not the package itself.

[2016-02-05 17:23] kirschre commented on #2164
Hey @sheerun, thanks for the response. I'm aware of the `ignoredDependencies` flag, but it doesn't quite solve my problem - since I have to support downloading any of a large set of packages (and more can be added at any time, and the dependencies of a package can change from release to release...), it would be a fair amount of work to keep track of the total set of dependencies to ignore.

What I

[2016-02-05 17:56] sheerun commented on #2164
I think it's fair. I can accept such PR. But please also include integration tests in `test/commands/install.js` and `test/commands/update.js`

[2016-02-06 07:26] Infro commented on #2000
Had similar problem, fixed it with some combination of switching to normal command prompt and not using config.interactive fixed

Bower version: 1.7.7
Node version: 5.5.0
OS: Windows_NT 6.1.7601 x64

[2016-02-06 09:27] OmgImAlexis commented on #2151
I'm even getting something similar with urls ending in `.js`, if I remove `/blob/master/jquery.elastic.source.js` I get a file called `index` with the html contents and if I add it on I get a files called `index.js` with the same contents. It never downloads the `.js` file.

`bower install --save jquery-elastic="https://github.com/janjarfalk/jquery-elastic/blob/master/jquery.elastic.source.js"`
[c

[2016-02-06 12:20] graingert commented on #2151
You just want to use the github repo for that
On 6 Feb 2016 09:27, "X O" <notifications@github.com> wrote:

[2016-02-06 13:14] OmgImAlexis commented on #2151
Using just the repo gives the same results but with the html file being used as the contents and a file called index being in the root directory without anything else.

[2016-02-06 13:35] graingert commented on #2151
you can do `bower install jquery-elastic` now

https://github.com/janjarfalk/jquery-elastic/pull/29

[2016-02-06 13:36] graingert commented on #2151
What was the command you ran to get this error?

[2016-02-06 13:41] OmgImAlexis commented on #2151
I tried all of these and each gave me the same results. I made sure to delete the entry out of the `bower.json` and the directory in `bower_components` before trying with the next one.
[code]

[2016-02-06 13:48] graingert commented on #2151
@OmgImAlexis none of those are the correct invocation. They will all try to download the GitHub webpage.  Read this getting started guide http://bower.io/#install-packages

[2016-02-06 14:19] OmgImAlexis commented on #2151
Even with `bower install https://github.com/janjarfalk/jquery-elastic/blob/master/jquery.elastic.source.js` I'm getting this though.

That's one of the ways that's listed.

[2016-02-06 14:29] graingert commented on #2151
@OmgImAlexis that's a URL to the HTML web page describing the JS file.

[code]

[2016-02-07 16:48] ghost opened #2167 "FR: Per-project tokens"
Store per-project tokens in registry, allowing to

[code]

and sending that token to the specified email, so the user can later

[code]

for any url, not only github ones.

[2016-02-07 18:26] IshanDemon commented on #802
If you are using windows run bower init using CMD

[2016-02-08 08:59] DHNCarlos commented on #2000
@faceleg @pertrai1 Apologies for not getting back sooner. No I haven't created an issue on readline2 as of yet. Though for now I've resolved the issue by using Windows own Command Prompt and it seems to be working okay there. The issue might be with the interactive config that Gits MINGW64 terminal requires but in Windows Cmd the interactive config flag isn't needed and it seems to work okay.

[2016-02-08 10:55] leegee opened #2169 "bower home $modulename does not open $modulename homepage"
As in the title.

	$ bower search XMLHttpRequest
	Search results:

	    FakeXMLHttpRequest git://github.com/trek/FakeXMLHttpRequest.git
	    xmlhttprequest git://github.com/ilinsky/xmlhttprequest.git

	$ bower home FakeXMLHttpRequest
	bower FakeXMLHttpRequest#*  not-cached https://github.com/trek/FakeXMLHttpRequest.git#*
	bower FakeXMLHttpRequest#*     resolve https://github.com/trek/FakeXMLHttpRe

[2016-02-09 01:44] rajzshkr commented on #2169
Hi @leegee , I tried the same. **bower home FakeXMLHttpRequest** opens [https://github.com/pretenderjs/FakeXMLHttpRequest](https://github.com/pretenderjs/FakeXMLHttpRequest) in browser. what bower version are you are using?

[2016-02-09 02:04] rajzshkr commented on #2136
Closing this issue since we are going to take this in pluggable resolvers.

[2016-02-09 02:04] #2136 closed

[2016-02-09 02:15] rajzshkr commented on #2151
@graingert you are correct, @OmgImAlexis  URL seems to be html page of github, instead you can use **bower install https://raw.githubusercontent.com/janjarfalk/jquery-elastic/master/jquery.elastic.source.js**. This works for me.

[2016-02-09 02:20] OmgImAlexis commented on #2151
@graingert that should be converted into a usable URL, I don't see why you should have to provide a raw path for it.

[2016-02-09 06:42] yash14123 commented on #2165
I would like to take this up.

[2016-02-09 09:48] leegee commented on #2169
Thanks, @rajzshkr . I'm sorry I can't tell you --- I'm on Windows 10, rather than my usual OSX or Linux. I have no idea how to find out anything on Windows: it's horrible.

My default is set to Chrome (latest), but sometimes Windows seems to prefer to use Edge (no idea why). I also have the latest Firefox.

If I can help, please let me know.

[2016-02-09 10:35] BenMann commented on #2169
@leegee he meant/said `bower` version, not browser ;)
you can find out with `bower -v` in your terminal.

[2016-02-09 13:21] leegee commented on #2169
@rajzshkr lol sorry about that -- you can imagine what fun I have debugging with eyesight like this...!

    $ bower -v
    1.7.7

[2016-02-10 10:36] stefk commented on #1275
This one made the trick for me: https://github.com/Backbase/filesystem-bower-resolver.

[2016-02-10 13:00] mreiche commented on #1725
+1

[2016-02-10 13:01] mreiche commented on #1725
I dont know how to vote, so i just make +1

[2016-02-11 15:12] sibaz opened #2170 "${BASEDIR}/lib/node_modules/bower/bin/bower contains an error"
The file ${BASEDIR}/lib/node_modules/bower/bin/bower specifies that the environment it is to be run in is `node`

Whereas the nodejs rpm creates /usr/bin/node on RPM based systems, the .deb on Ubuntu (14.04) creates /usr/bin/nodejs.  /usr/sbin/node is completely separate application.  nodejs-legacy(.deb) provides a symlink for /usr/bin/node on Ubuntu 14

So the first line of the bower file should

[2016-02-11 21:45] mbostock opened #2171 "Application Error unregistering packages."
Hi. I’m trying to repoint the `d3` package to a new [d3-bower repository](https://github.com/mbostock-bower/d3-bower). I did this recently for the `topojson` package (now pointed at [topojson-bower](https://github.com/mbostock-bower/topojson-bower), but when I tried to `unregister d3`, I got this error, reformatted for readability:

[code]

I used `bower login -t …` to authenticate, which appeared

[2016-02-12 04:29] marvin-SL opened #2172 "bower ECMDERR Failed to execute "git ls-remote --tags --heads git://github.com/angular/bower-angular-route.git", exit code of #128 fatal: I don't handle protocol '[https'"
Hello,

I try to install angularJs, but when i come to `bower install` command, i've got error

I don't have a proxy at home, i tried with several internet connection, same thing happens.
It's not only this github package which doesn't want to install.

I tried to use `git config --global url."https://".insteadOf git://` or `git config --global url."http://".insteadOf git://` , nothing work.

I'm

[2016-02-12 09:14] sheerun commented on #2172
Probably you configured it wrong `[https` instead of `https` in global git config, check what's there. btw. it's not a support channel.

[2016-02-12 09:14] #2172 closed

[2016-02-12 10:43] rajzshkr commented on #2171
I can also able to replicate this issue.

[2016-02-12 14:00] ealves-pt commented on #2171
I have the same problem.

[2016-02-12 16:01] kmcurry commented on #1667
Having this issue today

[2016-02-12 16:10] kmcurry commented on #1667
Aaaaand it fixed itself. ¯\_(ツ)_/¯

[2016-02-12 16:24] pimterry commented on #1667
I've also been seeing this today, consistently repeatable for a little while (installing `keen-js`), totally gone 5 minutes later.

[2016-02-12 19:36] mdwragg opened #2173 "Can you unregister package polymer-fontawesome please?"
Hi,

The package `polymer-fontawesome` is pointing to a dead repo on github, the user has also disappeared. I tried to follow the steps to unregister the package but cannot (I'm not a contributor to this package). I'd like to reuse the package name.

Thanks in advance for your help.

[2016-02-12 20:01] BenMann commented on #2173
There is currently an issue with unregistering packaages (see https://github.com/bower/bower/issues/2171).
However @desandro is our chief-unregister-expert I guess.

[2016-02-13 02:47] desandro commented on #2173
`polymer-fontawesome` has been unregistered. All yours!

[2016-02-13 02:47] #2173 closed

[2016-02-13 03:41] mdwragg commented on #2173
Thanks so much!

[2016-02-13 20:35] sheerun commented on #2171
I fixed the error on registry, it was my fault.

[2016-02-13 20:35] #2171 closed

[2016-02-13 20:37] sheerun commented on #2170
We can't do it because node is not placed in `/usr/bin/node` on all unix platforms (linux distros, osx)

[2016-02-13 20:37] #2170 closed

[2016-02-13 20:41] #2169 closed

[2016-02-13 20:42] sheerun commented on #2169
I've updated opn package to 4.0.0. I hope it'll fix issue on Windows (did it ever work)?

[2016-02-15 07:42] abhi80y commented on #866
It worked for me by making following changes in "bower.json":

"angular": "latest",
"angular-mocks": "latest",
"jquery": "latest",
"bootstrap": "latest"

there was a mismatch in the version updated and the version that I got from Git for "angular-phonecat"

[2016-02-15 09:52] yash14123 commented on #2165
Can I get some hints on how to proceed?

[2016-02-15 11:48] sheerun commented on #2165
Please read our "Contribution Guideline" in Wiki section.

[2016-02-15 12:56] jeffmaury opened #2174 "% character replaced once in .bowerrc scripts"
When using hooks through the scripts element of the .bowerrc file, the documentation states that the % character will be replaced with the component(s). However, only the first occurence of the character is replaced.

[2016-02-16 10:40] ankon opened #2176 "Bower should hide credentials in URLs in the default output"
It is possible that bower gets to work with package URLs of various types, and there is various levels of name->URL resolutions happening. Bower helpfully logs the URLs it finally attempts to work with, for example:
[code]

There is a problem though when invoking bower like this:
[code]

This will leak the value of `${SECRET}` into the output of bower.

The specific case where this happens:

1. op

[2016-02-16 19:42] lbustelo commented on #2097
Any updates?

[2016-02-17 06:57] azbshiri opened #2178 "scripts/hooks functionality added but there's not documention for it"
Hey, [install-hooks](https://github.com/cgross/bower/tree/install-hooks) branch merged successfully but there's no documentation for on master branch. there's only one document file called [HOOKS.md](https://github.com/cgross/bower/blob/install-hooks/HOOKS.md) in [cgross/bower](https://github.com/cgross/bower/) fork which is not included in the merge.

[2016-02-17 07:25] BenMann commented on #2178
We got rid of the HOOKS.md a while back and added it to https://github.com/bower/bower.github.io/blob/master/docs/config.md
as well as here
https://github.com/bower/spec/blob/master/config.md

[2016-02-17 07:25] #2178 closed

[2016-02-17 07:38] BenMann commented on #2176
I kind of feel like we shouldn't change the default behavior here. Mainly because there might also be situations where you want to output the private parts of said URLs. Even if it is just to revalidate the URL manually or by piping the output (`bower install > logs.txt`) and doing your thing with that. Basically this is the perfect use-case for `silent` as you already pointed out and a very speci

[2016-02-17 07:46] BenMann commented on #2167
Even though I like the idea, it also has a lot of implications!
While we don't have to care much about security at all right now, this would force us to give some serious thought to protecting those tokens. The reason we are currently using GitHub is also exactly that.. we can just hand off authentication to GitHub and be done with it. Right now that also means other URLs don't get that benefit, a

[2016-02-17 07:57] #2174 closed

[2016-02-17 10:22] ltrillaud opened #2179 "bower install jsrsasign broken"
$ bower install jsrsasign
bower jsrsasign=jsrsasign#~5.0.5       not-cached git://github.com/kjur/jsrsasign=jsrsasign.git#~5.0.5
bower jsrsasign=jsrsasign#~5.0.5          resolve git://github.com/kjur/jsrsasign=jsrsasign.git#~5.0.5
bower jsrsasign#*                          cached git://github.com/kjur/jsrsasign.git#5.0.5
bower jsrsasign#*                        validate 5.0.5 against git://github

[2016-02-17 11:59] ankon commented on #2176
Given the potential for foot-shooting here, could this at least be spelled out very loudly in the documentation?

The other option which I have seen in other tools is to have an explicit "anti-silent" flag, for example `--show-credentials`, so that the user must explicitly agree to doing that. Of course, you're right in that this is a change in the default behavior, and so could break scripts rely

[2016-02-17 14:18] herby commented on #2167
Well, I hardly could come up with something simpler. I explicitly eschewed notion of a "user" so that it is not complicated, so per-project authn which would automtically grant authz; and token + email-to-reset was the least burdensome I could come up with. The email-to-reset could in fact be omitted, but then person registering would need to write the token down and not lose it (what if power out

[2016-02-17 16:25] BenMann commented on #2179
Works for me. I also get why it is not working for you.. The URL part `.../kjur/jsrsasign=jsrsasign.git/'` looks pretty off (is not valid). Would be interesting to know how that happens. Can you tell us a bit more about your setup, especially the Bower version and operating system?

[2016-02-17 19:06] rana22 commented on #467
@gaving Thanks

[2016-02-18 09:06] ltrillaud commented on #2179
Hi Ben

Thank you for your quick answer.

It’s a MacOS 10.9.5
Bower is 1.6.5
npm is 2.14.3
node is 4.2.1

.bowerrc in my project home is :
{“directory”: “app/bower_components"}
I have no .bowerrc in my home directory

I have identified the problem. It's not on the first install, but on the --save. jsrsaasign use his git namespace  to save the module and have a bad saving in the project bower.json

[2016-02-18 09:28] BenMann commented on #2179
Yeah, I think that's a good idea, as there is nothing we can really do about this.
Actually everything is working as expected as far as Bower is concerned. For a quick fix you can just remove the `"kjur/"` part in the `dependencies` section of your `bower.json`.

Also, from the docs:

[code]

[2016-02-18 09:28] #2179 closed

[2016-02-18 09:47] ltrillaud commented on #2179
For reference. This issue forwarded to :
[https://github.com/kjur/jsrsasign/issues/156](https://github.com/kjur/jsrsasign/issues/156)

[2016-02-18 19:38] autopulous opened #2180 "Getting "TypeError: set.filter is not a function" when attempting to register a package"
bower xsd#*                    resolve git://github.com/Paleoheurist/xsd.git#*
bower xsd#*                   download https://github.com/Paleoheurist/xsd/archive/1.0.0.tar.gz
bower xsd#*                    extract archive.tar.gz
bower xsd#*                      error set.filter is not a function

Stack trace:
TypeError: set.filter is not a function
    at IgnoreReader.addIgnoreRules (C:\Users\jhar

[2016-02-18 22:15] Paleoheurist commented on #2180
I received the same error after I set up a dependency on the module in a project, as such:

  "dependencies" : {
    "xsd" : "git@github.com:Paleoheurist/xsd.git#1.0.0"
  }

I then proceeded to look into the error within my installation and placed the following test prior to `set.filter()` being called in `ignore.js`:

`if (null == set.filter) return;`

This test (for better or worse) got me past

[2016-02-18 22:33] Gespinha opened #2181 "Having a single relative path to all package files"
Hi there,

Bower is amazing to have everything managed really easily, but I've found it particularly annoying that every package always has a very specific file organisation inside, which makes me have to go check, every time, where are the files I need located.

Is there any way of having a relative path that just points to the package folder and the specific file, without having to check the fol

[2016-02-19 03:45] zdary commented on #156
+1 for this feature

[2016-02-19 04:58] Paleoheurist commented on #2180
I figured out how to fix my `bower.json` file - I needed to add the `ignore` property as follows:

`{"name": "xsd", "description": "XML Schema Definition", "version": "1.0.0",
"homepage": "http://www.vertexinc.com",
  "license": "MIT",
  "private": false,
  "main": "js/xsd.js",
  "ignore": ["test"],
  "dependencies": {},
  "moduleType": [
    "globals"
  ],
  "keywords": [
    "XSD",
    "XML",

[2016-02-19 05:35] westsince2001 opened #2182 "bower install --no-color[error]"
hi, i'm a new user to use yeoman build my app, i can not run my app on mac os(it can run on my win7).any one can help me?

## My OS configure：
MacBookProForWest:yo dingjianfeng$  ```yo --version&&grunt --version && bower --version```
1.6.0
grunt-cli v0.1.13
grunt v0.4.5
1.7.7
MacBookProForWest:yo dingjianfeng$ pwd
Users/dingjianfeng/Documents/workspace/wt-workbench/yo
MacBookProForWest:yo dingjian

[2016-02-19 16:56] sheerun commented on #2181
Hey. Currently it's not possible to do, nor planned to implement, but you can use postinstall hooks to to move files to appropriate places.

[2016-02-19 16:58] sheerun commented on #2182
"Unable to find suitable version for angular".

Maybe try to force angular version by putting `"resolutions": { "angular": "x.x.x" }}` in bower.json.

[2016-02-21 19:15] graciano commented on #1714
I just did the exact same thing and got stuck a few minutes searching for a possible bug or thinking the problem could be in the package.

[2016-02-22 07:11] peter-mueller opened #2183 "Proxy Configuration in .bowerrc"
HTTPS Proxy configuration in .bowerrc only works with `http://` as protocol.

This will not work (http**s**):

[code]

**But this works:**

[code]

This may also be an error due to local configuration

[2016-02-22 17:02] animedbz16 commented on #2183
I am also having this same issue, however I am setting my proxy environment from the bash environment rather than inside of .bowerrc.

[code]

[2016-02-22 17:44] ycrumeyrolle opened #2184 "Changelog is still in 2015"
Since v1.7.2, changelog items should be in 2016.

[2016-02-22 21:28] mbostock opened #2185 "`bower search d3` doesn’t find D3"
Apologies if I’m being dumb, but I was surprised to discover that neither http://bower.io/search/?q=d3 nor `bower search d3` returns any information about the `d3` package. Instead it returns a lot of D3-related packages:

[code]

However, `bower info d3` does return the expected package information.

Perhaps it’s unlikely that someone would search for a package when they already know its name, bu

[2016-02-23 07:03] westsince2001 commented on #2182
@sheerun  Tks~~~

[2016-02-23 09:05] dominikdominik commented on #2146
Hi rmaziarka,

I have tried "Long Path Tool" to solve the issue. You may try too.
All the best.

Regards
Dominik

[2016-02-23 21:16] ryantemple commented on #2185
Doesn't work for me either on the command line or at http://bower.io/search/?q=d3 - I get the same behaviour for the jQuery package, but strangely not for Angular.  Will do a little more digging.

[2016-02-24 10:37] #2184 closed

[2016-02-24 10:45] BenMann commented on #2185
In general `bower info` is working as expected and what you're looking for.
`bower search x` is admittedly not ideal, as it ignores the actual package itself. As mentioned above same happens with `jQuery` and every other package. It is partly designed to discover related packages, such as `d3-timeline`, which works. Not displaying the actual package itself however is pretty questionable. I'd sugge

[2016-02-24 10:48] BenMann commented on #2182
I take it that it solved your problem?
I'll assume yes and close for now. Just yell at me here if I'm wrong :cake:

[2016-02-24 10:48] #2182 closed

[2016-02-25 00:56] kinzhao commented on #414
If you can do `bower` and see the list of commands, options and still don't see anything after doing a bower install, it's possible, that you already have bower installed. You can test this by renaming the bower_components to another name and doing a `bower install`. It should work. If not, it could be a corporate proxy issue.